<style>
    table thead th {
        position: sticky;
        top: 0;
        z-index: 1;
        background: #f5f7fa;
        padding-right: 5px;
        padding-left: 5px;
        max-width: 100px;
    }
    td {
        padding-right: 5px;
        padding-left: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px;
    }
    tr {
        border-bottom: 1px solid silver;
    }
</style>
<div style='width: 100%; height: 50vH; overflow: auto;'>
    <table style="width: 100%;">
        <thead>
            <tr>
                <th style="padding-left: 0px !important;">&nbsp;</th>
                <th>Mitglied</th>
                <th>Sektion</th>
                <th>Firma</th>
                <th>Nachname</th>
                <th>Vorname</th>
                <th>Strasse</th>
                <th>Nr.</th>
                <th>Zusatz</th>
                <th>PLZ</th>
                <th>Wohnort</th>
                <th>Tel. P</th>
                <th>Tel. M</th>
                <th>Tel. G</th>
                <th>Status</th>
                <th>Mitgliedtyp</th>
            </tr>
        </thead>
        <tbody>
            {% for mitgliedschaft in mitgliedschaften %}
                <tr>
                    <td style="padding-left: 0px !important; background: {{ mitgliedschaft.ampelfarbe }};">&nbsp;</td>
                    <td>
                        {% if not meine_sektionen or mitgliedschaft.sektion_id in meine_sektionen %}
                            <a href="/desk#Form/MV Mitgliedschaft/{{ mitgliedschaft.name }}">{{ mitgliedschaft.mitglied_nr }}</a>
                        {% else %}
                            {{ mitgliedschaft.mitglied_nr }}
                        {% endif %}
                    </td>
                    <td>{{ mitgliedschaft.sektion_id }}</td>
                    <td>{{ mitgliedschaft.firma }}</td>
                    <td>{{ mitgliedschaft.nachname_1 }}</td>
                    <td>{{ mitgliedschaft.vorname_1 }}</td>
                    <td>{{ mitgliedschaft.strasse }}</td>
                    <td>{{ mitgliedschaft.nummer }}</td>
                    <td>{{ mitgliedschaft.nummer_zu }}</td>
                    <td>{{ mitgliedschaft.plz }}</td>
                    <td>{{ mitgliedschaft.ort }}</td>
                    <td>{{ mitgliedschaft.tel_p_1 }}</td>
                    <td>{{ mitgliedschaft.tel_m_1 }}</td>
                    <td>{{ mitgliedschaft.tel_g_1 }}</td>
                    <td>{{ mitgliedschaft.status_c }}</td>
                    <td>{{ mitgliedschaft.mitgliedtyp_c }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
