<style>
    table thead th {
        position: sticky;
        top: 0;
        z-index: 1;
        background: #f5f7fa;
        padding-right: 5px;
        padding-left: 5px;
        max-width: 100px;
        cursor: pointer;
    }
    td {
        padding-right: 5px;
        padding-left: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 90px;
    }
    tr {
        border-bottom: 1px solid silver;
    }
</style>
<div style='width: 100%; height: 50vH; overflow: auto;'>
    <table style="width: 100%;" id="resultate_table">
        <thead>
            <tr>
                <th style="padding-left: 0px !important;">&nbsp;</th>
                <th onclick="sortTable('Mitglied')">Mitglied</th>
                <th onclick="sortTable('Status')">Status</th>
                <th onclick="sortTable('Firma')">Firma</th>
                <th onclick="sortTable('Nachname')">Nachname</th>
                <th onclick="sortTable('Vorname')">Vorname</th>
                <th onclick="sortTable('Strasse')">Strasse</th>
                <th onclick="sortTable('Nr')">Nr.</th>
                <th onclick="sortTable('Wohnort')">Wohnort</th>
                <th onclick="sortTable('P')">Tel. P</th>
                <th onclick="sortTable('M')">Tel. M</th>
                <th onclick="sortTable('G')">Tel. G</th>
                <th onclick="sortTable('Mitgliedtyp')">Mitgliedtyp</th>
            </tr>
        </thead>
        <tbody>
            {% for mitgliedschaft in mitgliedschaften %}
                <tr>
                    {% if mitgliedschaft.ampel_farbe == 'ampelgruen' %}
                        <td style="padding-left: 0px !important; background: limegreen;">&nbsp;</td>
                    {% else %}
                        {% if mitgliedschaft.ampel_farbe == 'ampelgelb' %}
                            <td style="padding-left: 0px !important; background: yellow;">&nbsp;</td>
                        {% else %}
                            <td style="padding-left: 0px !important; background: red;">&nbsp;</td>
                        {% endif %}
                    {% endif %}
                    <td>
                        {% if not meine_sektionen or mitgliedschaft.sektion_id in meine_sektionen %}
                            <a href="/desk#Form/Mitgliedschaft/{{ mitgliedschaft.name }}">{{ mitgliedschaft.mitglied_nr }}</a>
                        {% else %}
                            {{ mitgliedschaft.mitglied_nr }}
                        {% endif %}
                    </td>
                    {% if mitgliedschaft.status_c == 'Interessent*in' %}
                        {% if mitgliedschaft.interessent_typ %}
                            <td>{{ mitgliedschaft.interessent_typ }}</td>
                        {% else %}
                            <td>{{ mitgliedschaft.status_c }}</td>
                        {% endif %}
                    {% else %}
                        <td>{{ mitgliedschaft.status_c }}</td>
                    {% endif %}
                    <td>{{ mitgliedschaft.firma or '' }}</td>
                    <td>{{ mitgliedschaft.nachname_1 or '' }}</td>
                    <td>{{ mitgliedschaft.vorname_1 or '' }}</td>
                    <td>{{ mitgliedschaft.strasse or '' }}</td>
                    <td>{% if mitgliedschaft.postfach %}{{ mitgliedschaft.postfach_nummer or '' }}{% else %}{{ mitgliedschaft.nummer or '' }}{{ mitgliedschaft.nummer_zu or '' }}{% endif %}</td>
                    <td>{{ mitgliedschaft.plz or '' }} {{ mitgliedschaft.ort or '' }}</td>
                    <td>
                        {% if mitgliedschaft.tel_p_1 %}
                            <a href="tel:{{ mitgliedschaft.tel_p_1 }}">{{ mitgliedschaft.tel_p_1 }}</a>
                        {% else %}
                            {{ mitgliedschaft.tel_p_1 or '' }}
                        {% endif %}
                    </td>
                    <td>
                        {% if mitgliedschaft.tel_m_1 %}
                            <a href="tel:{{ mitgliedschaft.tel_m_1 }}">{{ mitgliedschaft.tel_m_1 }}</a>
                        {% else %}
                            {{ mitgliedschaft.tel_m_1 or '' }}
                        {% endif %}
                    </td>
                    <td>
                        {% if mitgliedschaft.tel_g_1 %}
                            <a href="tel:{{ mitgliedschaft.tel_g_1 }}">{{ mitgliedschaft.tel_g_1 }}</a>
                        {% else %}
                            {{ mitgliedschaft.tel_g_1 or '' }}
                        {% endif %}
                    </td>
                    <td>{{ mitgliedschaft.mitgliedtyp_c or '' }}</td>
                </tr>
                {% if mitgliedschaft.hat_solidarmitglied %}
                    <tr>
                        {% if mitgliedschaft.ampel_farbe == 'ampelgruen' %}
                            <td style="padding-left: 0px !important; background: limegreen;">&nbsp;</td>
                        {% else %}
                            {% if mitgliedschaft.ampel_farbe == 'ampelgelb' %}
                                <td style="padding-left: 0px !important; background: yellow;">&nbsp;</td>
                            {% else %}
                                <td style="padding-left: 0px !important; background: red;">&nbsp;</td>
                            {% endif %}
                        {% endif %}
                        <td>
                            {% if not meine_sektionen or mitgliedschaft.sektion_id in meine_sektionen %}
                                <a href="/desk#Form/Mitgliedschaft/{{ mitgliedschaft.name }}">{{ mitgliedschaft.mitglied_nr }}</a>
                            {% else %}
                                {{ mitgliedschaft.mitglied_nr }}
                            {% endif %}
                        </td>
                        {% if mitgliedschaft.status_c != 'Inaktiv' %}
                            <td>{{ mitgliedschaft.status_c }} (S)</td>
                        {% else %}
                            <td>Inaktiv</td>
                        {% endif %}
                        <td>{{ mitgliedschaft.firma or '' }}</td>
                        <td>{{ mitgliedschaft.nachname_2 or '' }}</td>
                        <td>{{ mitgliedschaft.vorname_2 or '' }}</td>
                        <td>{{ mitgliedschaft.strasse or '' }}</td>
                        <td>{% if mitgliedschaft.postfach %}{{ mitgliedschaft.postfach_nummer or '' }}{% else %}{{ mitgliedschaft.nummer or '' }}{{ mitgliedschaft.nummer_zu or '' }}{% endif %}</td>
                        <td>{{ mitgliedschaft.plz or '' }} {{ mitgliedschaft.ort or '' }}</td>
                        <td>
                            {% if mitgliedschaft.tel_p_2 %}
                                <a href="tel:{{ mitgliedschaft.tel_p_2 }}">{{ mitgliedschaft.tel_p_2 }}</a>
                            {% else %}
                                {{ mitgliedschaft.tel_p_2 or '' }}
                            {% endif %}
                        </td>
                        <td>
                            {% if mitgliedschaft.tel_m_2 %}
                                <a href="tel:{{ mitgliedschaft.tel_m_2 }}">{{ mitgliedschaft.tel_m_2 }}</a>
                            {% else %}
                                {{ mitgliedschaft.tel_m_2 or '' }}
                            {% endif %}
                        </td>
                        <td>
                            {% if mitgliedschaft.tel_g_2 %}
                                <a href="tel:{{ mitgliedschaft.tel_g_2 }}">{{ mitgliedschaft.tel_g_2 }}</a>
                            {% else %}
                                {{ mitgliedschaft.tel_g_2 or '' }}
                            {% endif %}
                        </td>
                        <td>{{ mitgliedschaft.mitgliedtyp_c or '' }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            {% for faktura_kunde in faktura_kunden %}
                <tr>
                    <td style="padding-left: 0px !important; background: lightskyblue;">&nbsp;</td>
                    <td>
                        {% if not meine_sektionen or faktura_kunde.sektion_id in meine_sektionen %}
                            <a href="/desk#Form/Kunden/{{ faktura_kunde.name }}">{{ faktura_kunde.name }}</a>
                        {% else %}
                            {{ faktura_kunde.name }}
                        {% endif %}
                    </td>
                    <td>Faktura Kunde</td>
                    <td>{{ faktura_kunde.firma or '' }}</td>
                    <td>{{ faktura_kunde.nachname or '' }}</td>
                    <td>{{ faktura_kunde.vorname or '' }}</td>
                    <td>{{ faktura_kunde.strasse or '' }}</td>
                    <td>{% if faktura_kunde.postfach %}{{ faktura_kunde.postfach_nummer or '' }}{% else %}{{ faktura_kunde.nummer or '' }}{{ faktura_kunde.nummer_zu or '' }}{% endif %}</td>
                    <td>{{ faktura_kunde.plz or '' }} {{ faktura_kunde.ort or '' }}</td>
                    <td>
                        {% if faktura_kunde.tel_p %}
                            <a href="tel:{{ faktura_kunde.tel_p }}">{{ faktura_kunde.tel_p }}</a>
                        {% else %}
                            {{ faktura_kunde.tel_p or '' }}
                        {% endif %}
                    </td>
                    <td>
                        {% if faktura_kunde.tel_m %}
                            <a href="tel:{{ faktura_kunde.tel_m }}">{{ faktura_kunde.tel_m }}</a>
                        {% else %}
                            {{ faktura_kunde.tel_m or '' }}
                        {% endif %}
                    </td>
                    <td>
                        {% if faktura_kunde.tel_g %}
                            <a href="tel:{{ faktura_kunde.tel_g }}">{{ faktura_kunde.tel_g }}</a>
                        {% else %}
                            {{ faktura_kunde.tel_g or '' }}
                        {% endif %}
                    </td>
                    <td>Faktura Kunde</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
