<style>
    table thead th {
        position: sticky;
        top: 0;
        z-index: 1;
        background: #f5f7fa;
        padding-right: 5px;
        padding-left: 5px;
        max-width: 100px;
    }
    td {
        padding-right: 5px;
        padding-left: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px;
    }
    tr {
        border-bottom: 1px solid silver;
    }
</style>
<div style='width: 100%; height: 50vH; overflow: auto;'>
    <table style="width: 100%;">
        <thead>
            <tr>
                <th style="padding-left: 0px !important;">&nbsp;</th>
                <th>Mitglied</th>
                <th>Firma</th>
                <th>Nachname</th>
                <th>Vorname</th>
                <th>Strasse</th>
                <th>Nr.</th>
                <th>PLZ</th>
                <th>Wohnort</th>
                <th>Tel. P</th>
                <th>Tel. M</th>
                <th>Tel. G</th>
                <th>Mitgliedtyp</th>
            </tr>
        </thead>
        <tbody>
            {% for mitgliedschaft in mitgliedschaften %}
                <tr>
                    {% if mitgliedschaft.ampel_farbe == 'ampelgruen' %}
                        <td style="padding-left: 0px !important; background: limegreen;">&nbsp;</td>
                    {% else %}
                        {% if mitgliedschaft.ampel_farbe == 'ampelgelb' %}
                            <td style="padding-left: 0px !important; background: yellow;">&nbsp;</td>
                        {% else %}
                            <td style="padding-left: 0px !important; background: red;">&nbsp;</td>
                        {% endif %}
                    {% endif %}
                    <td>
                        {% if not meine_sektionen or mitgliedschaft.sektion_id in meine_sektionen %}
                            <a href="/desk#Form/MV Mitgliedschaft/{{ mitgliedschaft.name }}">{{ mitgliedschaft.mitglied_nr }}</a>
                        {% else %}
                            {{ mitgliedschaft.mitglied_nr }}
                        {% endif %}
                    </td>
                    <td>{{ mitgliedschaft.firma or '' }}</td>
                    <td>{{ mitgliedschaft.nachname_1 or '' }}</td>
                    <td>{{ mitgliedschaft.vorname_1 or '' }}</td>
                    <td>{{ mitgliedschaft.strasse or '' }}</td>
                    <td>{% if mitgliedschaft.postfach %}{{ mitgliedschaft.postfach_nummer or '' }}{% else %}{{ mitgliedschaft.nummer or '' }}{{ mitgliedschaft.nummer_zu or '' }}{% endif %}</td>
                    <td>{{ mitgliedschaft.plz or '' }}</td>
                    <td>{{ mitgliedschaft.ort or '' }}</td>
                    <td>{{ mitgliedschaft.tel_p_1 or '' }}</td>
                    <td>{{ mitgliedschaft.tel_m_1 or '' }}</td>
                    <td>{{ mitgliedschaft.tel_g_1 or '' }}</td>
                    <td>{{ mitgliedschaft.mitgliedtyp_c or '' }}</td>
                </tr>
                {% if mitgliedschaft.hat_solidarmitglied %}
                    <tr>
                        {% if mitgliedschaft.ampel_farbe == 'ampelgruen' %}
                            <td style="padding-left: 0px !important; background: limegreen;">&nbsp;</td>
                        {% else %}
                            {% if mitgliedschaft.ampel_farbe == 'ampelgelb' %}
                                <td style="padding-left: 0px !important; background: yellow;">&nbsp;</td>
                            {% else %}
                                <td style="padding-left: 0px !important; background: red;">&nbsp;</td>
                            {% endif %}
                        {% endif %}
                        <td>
                            {% if not meine_sektionen or mitgliedschaft.sektion_id in meine_sektionen %}
                                <a href="/desk#Form/MV Mitgliedschaft/{{ mitgliedschaft.name }}">{{ mitgliedschaft.mitglied_nr }}</a>
                            {% else %}
                                {{ mitgliedschaft.mitglied_nr }}
                            {% endif %}
                        </td>
                        <td>{{ mitgliedschaft.firma or '' }}</td>
                        <td>{{ mitgliedschaft.nachname_2 or '' }}</td>
                        <td>{{ mitgliedschaft.vorname_2 or '' }}</td>
                        <td>{{ mitgliedschaft.strasse or '' }}</td>
                        <td>{% if mitgliedschaft.postfach %}{{ mitgliedschaft.postfach_nummer or '' }}{% else %}{{ mitgliedschaft.nummer or '' }}{{ mitgliedschaft.nummer_zu or '' }}{% endif %}</td>
                        <td>{{ mitgliedschaft.plz or '' }}</td>
                        <td>{{ mitgliedschaft.ort or '' }}</td>
                        <td>{{ mitgliedschaft.tel_p_2 or '' }}</td>
                        <td>{{ mitgliedschaft.tel_m_2 or '' }}</td>
                        <td>{{ mitgliedschaft.tel_g_2 or '' }}</td>
                        <td>{{ mitgliedschaft.mitgliedtyp_c or '' }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
