{#
    Siedlungsadresse eines RSV-Mitglieds - gleiche Zeilenoptik wie die
    RSV-Mitglieder- und Siedlungsadressen-Listen (.mvd-list in mvd.css).
#}
<div class="mvd-list">
    <a class="mvd-list-row" href="/desk#Form/Amtliches Gebaeudeverzeichnis/{{ adr_egaid }}">
        <span class="mvd-list-cell mvd-list-id">{{ adr_egaid }}</span>
        <span class="mvd-list-cell mvd-list-main">{{ strasse }} {{ nummer }}</span>
        <span class="mvd-list-cell mvd-list-sub">{{ plz }} {{ ort }}</span>
    </a>
</div>
