<div class="row">
    <h1 class="vbz">Rechtsberatung und Disposition ({{frappe.boot.default_sektion}})<span id="datenstand" class="pull-right">Datenstand: {{ datenstand }}</span><br><span id="reload_info" class="pull-right">Zum Aktualisieren Webbrowser neuladen</span></h1>
</div>
<div class="row">
    <table id="table_beratungs_uebersicht">
        <tr>
            <td><h2>Administration</h2></td>
            <td></td>
            <td style="text-align: right; padding-left: 20px;"><b>Wohnen</b></td>
            <td style="text-align: right; padding-left: 20px;"><b>Business</b></td>
        </tr>
        <tr>
            <td>S1</td>
            <td>Nicht Mitgliedern zugeordnet</td>
            <td colspan="2" style="text-align: center;" id="s1" class="clickable-badge">
                <b>{% if s1 > 99 %}99+{% else %}{{ s1 }}{% endif %}</b>
            </td>
        </tr>
        <tr>
            <td>S6</td>
            <td>Weitere Korrespondenz</td>
            <td style="text-align: right;" id="s6_wohnen" class="clickable-badge" data-type="wohnen">
                <b>{% if s6_wohnen > 99 %}99+{% else %}{{ s6_wohnen }}{% endif %}</b>
            </td>
            <td style="text-align: right;" id="s6_business" class="clickable-badge" data-type="business">
                <b>{% if s6_business > 99 %}99+{% else %}{{ s6_business }}{% endif %}</b>
            </td>
        </tr>
        
        <tr>
            <td>S10</td>
            <td>Mitgliederanfragen bei vereinbartem Termin</td>
            <td style="text-align: right;" id="s10_wohnen" class="clickable-badge" data-type="wohnen">
                <b>{% if s10_wohnen > 99 %}99+{% else %}{{ s10_wohnen }}{% endif %}</b>
            </td>
            <td style="text-align: right;" id="s10_business" class="clickable-badge" data-type="business">
                <b>{% if s10_business > 99 %}99+{% else %}{{ s10_business }}{% endif %}</b>
            </td>
        </tr>
        
        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        
        <tr>
            <td colspan="2"><h2>Rechtsberatung</h2></td>
            <td style="text-align: right;" id="r_wohnen" class="clickable-badge" data-type="wohnen">
                <b>{% if r_wohnen > 99 %}99+{% else %}{{ r_wohnen }}{% endif %}</b>
            </td>
            <td style="text-align: right;" id="r_business" class="clickable-badge" data-type="business">
                <b>{% if r_business > 99 %}99+{% else %}{{ r_business }}{% endif %}</b>
            </td>
        </tr>
        
        <tr>
            <td>R1</td>
            <td>Dringende Anfragen (Auffangtermin)</td>
            <td style="text-align: right;" id="r1_wohnen" class="clickable-badge" data-type="wohnen">
                <b>{% if r1_wohnen > 99 %}99+{% else %}{{ r1_wohnen }}{% endif %}</b>
            </td>
            <td style="text-align: right;" id="r1_business" class="clickable-badge" data-type="business">
                <b>{% if r1_business > 99 %}99+{% else %}{{ r1_business }}{% endif %}</b>
            </td>
        </tr>
        
        <tr>
            <td>R2</td>
            <td>Offene Anfragen</td>
            <td style="text-align: right;" id="r2_wohnen" class="clickable-badge" data-type="wohnen">
                <b>{% if r2_wohnen > 99 %}99+{% else %}{{ r2_wohnen }}{% endif %}</b>
            </td>
            <td style="text-align: right;" id="r2_business" class="clickable-badge" data-type="business">
                <b>{% if r2_business > 99 %}99+{% else %}{{ r2_business }}{% endif %}</b>
            </td>
        </tr>


        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        
        <tr>
            <td colspan="2"><b>{{ frappe.user.full_name() }}</b></td>
            <td>&nbsp;</td><td>&nbsp;</td>
        </tr>
        
        <tr>
            <td>P1</td>
            <td>Zugewiesene Beratungen</td>
            <td style="text-align: right;" id="p1_wohnen" class="clickable-badge" data-type="wohnen">
                <b>{% if p1_wohnen > 99 %}99+{% else %}{{ p1_wohnen }}{% endif %}</b>
            </td>
            <td style="text-align: right;" id="p1_business" class="clickable-badge" data-type="business">
                <b>{% if p1_business > 99 %}99+{% else %}{{ p1_business }}{% endif %}</b>
            </td>
        </tr>

        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        
        <tr class="clickable-text">
            <td></td>
            <td id="rechtsberaterinnen"><a href="#">Liste der Rechtsberater*innen</a></td>
            <td>&nbsp;</td><td>&nbsp;</td>
        </tr>
        <tr class="clickable-text">
            <td></td>
            <td id="beratungskategorien"><a href="#">Liste der Beratungskategorien</a></td>
            <td>&nbsp;</td><td>&nbsp;</td>
        </tr>
        <tr class="clickable-text">
            <td></td>
            <td id="statistik"><a href="#">Statistik</a></td>
            <td>&nbsp;</td><td>&nbsp;</td>
        </tr>
    </table>
</div>