
<div class="row">
    <h1 class="vbz">Rechtsberatung und Disposition ({{frappe.boot.default_sektion}})<span id="datenstand_as" class="pull-right">Datenstand: {{ datenstand_as }}</span><br><span id="reload_info" class="pull-right">Zum Aktualisieren Webbrowser neuladen</span></h1>
</div>
<div class="row">
    <table id="table_beratungs_uebersicht">
        <tr>
            <th></th>
            <th></th>
            <th style="text-align: right;"><b>Anzahl</b></th>
        </tr>
        <tr id="s_as">
            <td>S</td>
            <td><b>Sekretariat</b></td>
            {% if s_as > 99 %}
                <td style="text-align: right;"><b>99+</b></td>
            {% else %}
                <td style="text-align: right;"><b>{{ s_as }}</b></td>
            {% endif %}
        </tr>
        <tr id="s1_as">
            <td>S1</td>
            <td>Nicht Mitgliedern zugeordnet</td>
            {% if s1_as > 99 %}
                <td style="text-align: right;"><b>99+</b></td>
            {% else %}
                <td style="text-align: right;"><b>{{ s1_as }}</b></td>
            {% endif %}
        </tr>
        {% if frappe.boot.default_sektion != "MVBS" %}
        <tr id="s2_as">
            <td>S2</td>
            <td>Termin abgelaufen, Beratung noch offen</td>
            {% if s2_as > 99 %}
                <td style="text-align: right;"><b>99+</b></td>
            {% else %}
                <td style="text-align: right;"><b>{{ s2_as }}</b></td>
            {% endif %}
        </tr>
        {% endif %}
        <tr id="s3_as">
            <td>S3</td>
            <td>Fehler 1: Zusammengeführte Beratung mit neuem Input</td>
            {% if s3_as > 99 %}
                <td style="text-align: right;"><b>99+</b></td>
            {% else %}
                <td style="text-align: right;"><b>{{ s3_as }}</b></td>
            {% endif %}
        </tr>
        <tr id="s4_as">
            <td>S4</td>
            <td>Offene Rückfragen</td>
            {% if s4_as > 99 %}
                <td style="text-align: right;"><b>99+</b></td>
            {% else %}
                <td style="text-align: right;"><b>{{ s4_as }}</b></td>
            {% endif %}
        </tr>
        <tr id="s5_as">
            <td>S5</td>
            <td>Beantwortete Rückfragen (Posteingang)</td>
            {% if s5_as > 99 %}
                <td style="text-align: right;"><b>99+</b></td>
            {% else %}
                <td style="text-align: right;"><b>{{ s5_as }}</b></td>
            {% endif %}
        </tr>
        <tr id="a1_as">
            <td>A1</td>
            <td>Administration</td>
            {% if a1_as > 99 %}
                <td style="text-align: right;"><b>99+</b></td>
            {% else %}
                <td style="text-align: right;"><b>{{ a1_as }}</b></td>
            {% endif %}
        </tr>
        <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr id="r_as">
            <td>R</td>
            <td><b>Rechtsberatung</b></td>
            {% if r_as > 99 %}
                <td style="text-align: right;"><b>99+</b></td>
            {% else %}
                <td style="text-align: right;"><b>{{ r_as }}</b></td>
            {% endif %}
        </tr>
        <tr id="r1_as">
            <td>R1</td>
            <td>Dringend</td>
            {% if r1_as > 99 %}
                <td style="text-align: right;"><b>99+</b></td>
            {% else %}
                <td style="text-align: right;"><b>{{ r1_as }}</b></td>
            {% endif %}
        </tr>
        <tr id="r2_as">
            <td>R2</td>
            <td>Im Pool</td>
            {% if r2_as > 99 %}
                <td style="text-align: right;"><b>99+</b></td>
            {% else %}
                <td style="text-align: right;"><b>{{ r2_as }}</b></td>
            {% endif %}
        </tr>
        <tr id="r3_as">
            <td>R3</td>
            <td>Nicht im Pool/Einzelzuweisung</td>
            {% if r3_as > 99 %}
                <td style="text-align: right;"><b>99+</b></td>
            {% else %}
                <td style="text-align: right;"><b>{{ r3_as }}</b></td>
            {% endif %}
        </tr>
        <tr id="r4_as">
            <td>R4</td>
            <td>Offene Rückfragen</td>
            {% if r4_as > 99 %}
                <td style="text-align: right;"><b>99+</b></td>
            {% else %}
                <td style="text-align: right;"><b>{{ r4_as }}</b></td>
            {% endif %}
        </tr>
        <tr id="r5_as">
            <td>R5</td>
            <td>Beantwortete Rückfragen (Posteingang)</td>
            {% if r5_as > 99 %}
                <td style="text-align: right;"><b>99+</b></td>
            {% else %}
                <td style="text-align: right;"><b>{{ r5_as }}</b></td>
            {% endif %}
        </tr>
        <tr id="r6_as">
            <td>R6</td>
            <td>Beantwortete Rückfragen für einzelne Berater*in (Posteingang)</td>
            {% if r6_as > 99 %}
                <td style="text-align: right;"><b>99+</b></td>
            {% else %}
                <td style="text-align: right;"><b>{{ r6_as }}</b></td>
            {% endif %}
        </tr>
        {% if frappe.boot.default_sektion != "MVBS" %}
        <tr id="r7_as">
            <td>R7</td>
            <td>Alle vereinbarten Termine</td>
            {% if r7_as > 99 %}
                <td style="text-align: right;"><b>99+</b></td>
            {% else %}
                <td style="text-align: right;"><b>{{ r7_as }}</b></td>
            {% endif %}
        </tr>
        <tr id="r8_as">
            <td>R8</td>
            <td>Vergangene Termine</td>
            {% if r8_as > 99 %}
                <td style="text-align: right;"><b>99+</b></td>
            {% else %}
                <td style="text-align: right;"><b>{{ r8_as }}</b></td>
            {% endif %}
        </tr>
        {% endif %}
        <tr id="r9_as">
            <td>R9</td>
            <td>Weitere Korrespondenz</td>
            {% if r9_as > 99 %}
                <td style="text-align: right;"><b>99+</b></td>
            {% else %}
                <td style="text-align: right;"><b>{{ r9_as }}</b></td>
            {% endif %}
        </tr>
        {% if frappe.boot.default_sektion == "MVBS" %}
        <tr id="r10_bs">
            <td>10</td>
            <td>Mehrfach nicht erreicht (MNE)</td>
            {% if r10_bs > 99 %}
                <td style="text-align: right;"><b>99+</b></td>
            {% else %}
                <td style="text-align: right;"><b>{{ r10_bs }}</b></td>
            {% endif %}
        </tr>
        <tr id="r11_bs">
            <td>11</td>
            <td>Mandate</td>
            {% if r11_bs > 99 %}
                <td style="text-align: right;"><b>99+</b></td>
            {% else %}
                <td style="text-align: right;"><b>{{ r11_bs }}</b></td>
            {% endif %}
        </tr>
        <tr id="r12_bs">
            <td>12</td>
            <td>PHF</td>
            {% if r12_bs > 99 %}
                <td style="text-align: right;"><b>99+</b></td>
            {% else %}
                <td style="text-align: right;"><b>{{ r12_bs }}</b></td>
            {% endif %}
        </tr>
        {% endif %}
        <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr>
            <td></td>
            <td><b>{{ frappe.user.full_name() }}</b></td>
            <td>&nbsp;</td>
        </tr>
        <tr id="p1_as">
            <td>P1</td>
            <td>Exklusiv zugewiesene Beratungen</td>
            {% if p1_as > 99 %}
                <td style="text-align: right;"><b>99+</b></td>
            {% else %}
                <td style="text-align: right;"><b>{{ p1_as }}</b></td>
            {% endif %}
        </tr>
        <tr id="p2_as">
            <td>P2</td>
            <td>Offene eigene Rückfragen</td>
            {% if p2_as > 99 %}
                <td style="text-align: right;"><b>99+</b></td>
            {% else %}
                <td style="text-align: right;"><b>{{ p2_as }}</b></td>
            {% endif %}
        </tr>
        <tr id="p3_as">
            <td>P3</td>
            <td>Beantwortete Rückfragen (Posteingang)</td>
            {% if p3_as > 99 %}
                <td style="text-align: right;"><b>99+</b></td>
            {% else %}
                <td style="text-align: right;"><b>{{ p3_as }}</b></td>
            {% endif %}
        </tr>
        <tr id="p4_as">
            <td>P4</td>
            <td>Termine</td>
            {% if p4_as > 99 %}
                <td style="text-align: right;"><b>99+</b></td>
            {% else %}
                <td style="text-align: right;"><b>{{ p4_as }}</b></td>
            {% endif %}
        </tr>
        <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr id="rechtsberaterinnen_as">
            <td></td>
            <td>Liste der Rechtsberater*innen</td>
            <td style="text-align: right;"><b>&nbsp;</b></td>
        </tr>
        <tr id="beratungskategorien_as">
            <td></td>
            <td>Liste der Beratungskategorien</td>
            <td style="text-align: right;"><b>&nbsp;</b></td>
        </tr>
        <tr id="statistik_as">
            <td></td>
            <td>Statistik</td>
            <td style="text-align: right;"><b>&nbsp;</b></td>
        </tr>
    </table>
</div>
