{% if data.korrespondenz_adresse %}
<table class="table" style="width: 100%;">
	<thead>
		<tr>
			{% if data.korrespondenz_adresse %}
            <th>{{ __("Mitglied") }}</th>
            {% } %}
			{% if data.soli_adresse %}
            <th>{{ __("Solidarmitglied") }}</th>
            {% } %}
            {% if data.objekt_adresse %}
            <th>{{ __("Objektadresse") }}</th>
            {% } %}
            {% if data.rechnungs_adresse %}
            <th>{{ __("Rechnungsadresse") }}</th>
            {% } %}
		</tr>

	</thead>
	<tbody>
        <tr>
            {% if data.korrespondenz_adresse %}
            <td>{{ data.korrespondenz_adresse }}</td>
            {% } %}
			{% if data.soli_adresse %}
            <td>{{ data.soli_adresse }}</td>
            {% } %}
            {% if data.objekt_adresse %}
            <td>{{ data.objekt_adresse }}</td>
            {% } %}
            {% if data.rechnungs_adresse %}
            <td>{{ data.rechnungs_adresse }}</td>
            {% } %}
        </tr>
	</tbody>
</table>
{% } else { %}
<p style="margin-top: 30px;"> Keine Adressen hinterlegt. </p>
{% } %}
