<!-- ---------------------------------------------------------------------------------------- -->
<!-- Allgemeine Daten -->
<!-- ---------------------------------------------------------------------------------------- -->
{% set print_language = 'de' %}
{% set mitgliedschaft = frappe.get_doc("Mitgliedschaft", doc.name) %}
{% set adressblock = get_rg_adressblock(mitgliedschaft) %}
{% set sektion = frappe.get_doc("Sektion", mitgliedschaft.sektion_id) %}
{% if test_druckvorlage %}
    {% set druckvorlage = frappe.get_doc("Druckvorlage", test_druckvorlage) %}
{% else %}
    {% set druckvorlage = frappe.get_doc("Druckvorlage", mitgliedschaft.kuendigung_druckvorlage) %}
{% endif %}
{% if druckvorlage %}
    {% set print_language = druckvorlage.language %}
{% endif %}
<!-- ---------------------------------------------------------------------------------------- -->
<!-- ENDE: Allgemeine Daten -->
<!-- ---------------------------------------------------------------------------------------- -->
<!-- ---------------------------------------------------------------------------------------- -->
<!-- QRR Daten für Mitgliedschafts QRR bei Kündigung inkl. RG -->
<!-- ---------------------------------------------------------------------------------------- -->
{% set affected_sinv = get_last_open_sinv(doc.name) %}
{% if affected_sinv %}
    {% set affected_sinv = frappe.get_doc("Sales Invoice", affected_sinv) %}
{% endif %}
{% if affected_sinv %}
    <!-- payer details -->
    {% if affected_sinv.customer_address %}
        {% set pay_addr = frappe.get_doc("Address", affected_sinv.customer_address) %}
        {% if pay_addr %}
            <!-- get values -->
            {% if pay_addr.postfach %}
                <!-- postfach -->
                {% set pay_country = frappe.get_doc("Country", pay_addr.country) %}
                {% set pay_country_code = pay_country.code | upper %}
                {% if pay_addr.postfach_nummer %}
                    {% set postfach_nummer = pay_addr.postfach_nummer %}
                {% else %}
                    {% set postfach_nummer = ' ' %}
                {% endif %}
                {% set pay_address_line_detail = {'name': affected_sinv.customer, 'street': 'Postfach', 'number': postfach_nummer, 'pin': pay_addr.pincode, 'city': pay_addr.city, 'country': pay_country_code } %}
            {% else %}
                <!-- street -->
                {% set pay_address_trimed = pay_addr.address_line1 | trim %}
                {% set pay_address_array = pay_address_trimed.split(" ") %}
                {% set pay_address_line_item_count = pay_address_array | count %}
                {% set pay_country = frappe.get_doc("Country", pay_addr.country) %}
                {% set pay_country_code = pay_country.code | upper %}
                {% set pay_address_line_detail = {'name': affected_sinv.customer, 'street': '', 'number': '', 'pin': pay_addr.pincode, 'city': pay_addr.city, 'country': pay_country_code } %}
                {% for i in range(0, (pay_address_line_item_count - 1)) %}
                    {% if pay_address_line_detail.update({'street': pay_address_line_detail.street + " " + pay_address_array[i] }) %}{% endif %}
                {% endfor %}
                {% if pay_address_line_detail.update({'number': pay_address_array[pay_address_line_item_count - 1]}) %}{% endif %}
            {% endif %}
            
            <!-- set values -->
            {% set payer_name = affected_sinv.customer_name %}
            {% set payer_street = pay_address_line_detail.street %}
            {% set payer_number = pay_address_line_detail.number %}
            {% set payer_pincode = pay_address_line_detail.pin %}
            {% set payer_town = pay_address_line_detail.city %}
            {% set payer_country = pay_address_line_detail.country %}
            
            <!-- check street vs number -->
            {% if not payer_street %}
                {% if payer_number %}
                    {% set payer_street = payer_number %}
                    {% set payer_number = ' ' %}
                {% endif %}
            {% endif %}
        {% endif %}
        {% set bankkonto = frappe.get_doc("Account", sektion.account) %}
    {% else %}
        {% set payer_name = False %}
        {% set payer_street = False %}
        {% set payer_number = False %}
        {% set payer_pincode = False %}
        {% set payer_town = False %}
        {% set payer_country = False %}
    {% endif %}

    <!-- receiver details -->
    {% if affected_sinv.company_address %}
        {% set cmp_addr = frappe.get_doc("Address", affected_sinv.company_address) %}
        {% if cmp_addr %}
            <!-- get values -->
            {% set address_array = cmp_addr.address_line1.split(" ") %}
            {% set address_line_item_count = address_array | count %}
            {% set cmp_country = frappe.get_doc("Country", cmp_addr.country) %}
            {% set cmp_country_code = cmp_country.code | upper %}
            {% set cmp_address_line_detail = {'name': affected_sinv.company, 'street': '', 'number': '', 'plz': cmp_addr.plz, 'city': cmp_addr.city, 'country': cmp_country_code } %}
            {% for i in range(0, (address_line_item_count - 1)) %}
                {% if cmp_address_line_detail.update({'street': cmp_address_line_detail.street + " " + address_array[i] }) %}{% endif %}
            {% endfor %}
            {% if cmp_address_line_detail.update({'number': address_array[address_line_item_count - 1]}) %}{% endif %}
            
            <!-- set values -->
            {% set receiver_name = cmp_address_line_detail.name | replace("|", "I") %}
            {% set receiver_street = cmp_address_line_detail.street %}
            {% set receiver_number = cmp_address_line_detail.number %}
            {% set receiver_pincode = cmp_address_line_detail.plz %}
            {% set receiver_town = cmp_address_line_detail.city %}
            {% set receiver_country = cmp_address_line_detail.country %}
            
            {% if cmp_addr.postfach %}
                {% if cmp_addr.postfach_nummer %}
                    {% set receiver_street = 'Postfach' %}
                    {% set receiver_number = cmp_addr.postfach_nummer %}
                {% else %}
                    {% set receiver_street = 'Postfach' %}
                    {% set receiver_number = ' ' %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% else %}
        {% set receiver_name = False %}
        {% set receiver_street = False %}
        {% set receiver_number = False %}
        {% set receiver_pincode = False %}
        {% set receiver_town = False %}
        {% set receiver_country = False %}
    {% endif %}

    <!-- qrr dict -->
    {% if affected_sinv.ist_mitgliedschaftsrechnung %}
        {% set qrr_message = affected_sinv.name + " // " + _("Mitgliederbeitrag", print_language) + " " + affected_sinv.mitgliedschafts_jahr|string + " // " + mitgliedschaft.mitglied_nr %}
    {% else %}
        {% set qrr_message = affected_sinv.name %}
    {% endif %}
    {% if affected_sinv.ohne_betrag %}
        {% set qrr_amount = False %}
    {% else %}
        {% set qrr_amount = "{:,.2f}".format(affected_sinv.outstanding_amount).replace(",", "'") %}
    {% endif %}
    {% set mitgliedschaft_qrr = {
        'top_position': '191mm',
        'iban': bankkonto.iban or '',
        'reference': affected_sinv.esr_reference,
        'reference_type': 'QRR',
        'currency': affected_sinv.currency,
        'amount': qrr_amount,
        'message': qrr_message,
        'additional_information': ' ',
        'receiver_name': receiver_name,
        'receiver_street': receiver_street,
        'receiver_number': receiver_number,
        'receiver_country': receiver_country,
        'receiver_pincode': receiver_pincode,
        'receiver_town': _(receiver_town, print_language or 'de'),
        'payer_name': payer_name,
        'payer_street': payer_street,
        'payer_number': payer_number,
        'payer_country': payer_country,
        'payer_pincode': payer_pincode,
        'payer_town': payer_town,
        'language': print_language or 'de'
    } %}
{% endif %}
<!-- ---------------------------------------------------------------------------------------- -->
<!-- ENDE: QRR Daten für Mitgliedschafts QRR bei Kündigung inkl. RG -->
<!-- ---------------------------------------------------------------------------------------- -->

{% if druckvorlage %}
    <!-- ---------------------------------------------------------------------------------------- -->
    <!-- DRUCKFORMAT -->
    <!-- ---------------------------------------------------------------------------------------- -->
    {% for seite in druckvorlage.seiten %}
        <!-- ggf. Page Break -->
        {% if seite.idx > 1 %}
            <div class="page-break"></div>
        {% endif %}
        
        <!-- Header -->
        <div id='kopfzeile'>
            {% if seite.kopfzeile %}
                <img src="/assets/mvd/img/mvs_nationales_logo.png" style="width: 58.1mm;">
            {% endif %}
        </div>
        
        <!-- Mitglieder Ausweis -->
        {% if seite.ausweis %}
            <div id='ausweis'>
                <b>{{ _("Mitgliederausweis", print_language) }} {{ mitgliedschaft.bezahltes_mitgliedschaftsjahr }}</b>
                <div id='ausweis-content'>
                    {% if mitgliedschaft.kundentyp == 'Unternehmen' %}{{ mitgliedschaft.firma }}<br>{% endif %}
                    {{ mitgliedschaft.vorname_1 }} {{ mitgliedschaft.nachname_1 }}
                    {% if mitgliedschaft.hat_solidarmitglied %}<br>{{ mitgliedschaft.vorname_2 }} {{ mitgliedschaft.nachname_2 }}{% endif %}
                </div>
                <div id="ausweis-footer">
                        <b>{{ _("Sektion", print_language) }}:</b> {{ mitgliedschaft.sektion_id }}<span id="ausweis-footer-placeholder">...............</span><b>{{ _("Mitglied", print_language) }}:</b> {{ mitgliedschaft.mitglied_nr }}
                </div>
            </div>
        {% endif %}
        
        <!-- Adressblock -->
        {% if seite.adressblock %}
            <div id='adressblock'>
                {% if seite.pp %}
                    <!-- mit P.P. -->
                    <div id='adressblock_pp'><span id='pp_post'><b>P.P.</b></span> {{ seite.plz_und_ort or '' }} <span id='pp_span' class="pull-right">Post CH AG</span></div>
                {% endif %}
                {{ adressblock|replace("\n", "<br>") }}
            </div>
        {% endif %}
        
        <!-- Referenzblock -->
        {% if seite.referenzblock %}
            <div id='referenzblock'>
                {% if sektion %}
                    {{ _(sektion.default_ort, print_language) }}, {{ frappe.utils.get_datetime(doc.posting_date).strftime('%d.%m.%Y') }}<br><br>
                    {{ sektion.referenzblock }}
                {% endif %}
            </div>
        {% endif %}
        
        <!-- Content -->
        {% if seite.inhalt %}
            <div id='content-{{seite.idx }}'>{{ replace_mv_keywords(seite.inhalt, mitgliedschaft, sinv=sales_invoice) }}</div>
        {% endif %}
        
        <!-- Seitenzahlen (Fusszeile) -->
        <div id='seitenzahlen'><div id='seitenzahlen-content'>{% if seite.seitenzahlen %}Seite {{ seite.idx }} / {{ druckvorlage.seiten|len }}{% else %}&nbsp;{% endif %}</div></div>
        
        <!-- Einzahlungsschein -->
        {% if seite.einzahlungsschein %}
                <div id='einzahlungsschein'>
                    {% if mitgliedschaft_qrr %}
                        {{ frappe.render_template('templates/includes/mvd_qrr_invoice.html', {'qrr': mitgliedschaft_qrr}) }}
                    {% endif %}
                </div>
        {% endif %}

        <!-- Rückseite bei Mitglieder Ausweis -->
        {% if seite.ausweis %}
            {% if seite.ausweis_beidseitig == 'beidseitig' %}
                <div class="page-break"></div>
                <div id='ausweis-rueckseite'>{{ sektion.ausweis_rueckseite }}</div>
                <div id="ausweis-rueckseite-zusatz">Karte an der Perforation herauslösen</div>
                {% if seite.inhalt_rueckseite and seite.inhalt_rueckseite != '<div><br></div>' %}
                    <br><br><div id="content-{{seite.idx }}">{{ replace_mv_keywords(seite.inhalt_rueckseite, mitgliedschaft, sinv=sales_invoice) }}</div>
                {% endif %}
            {% else %}
                {% if seite.inhalt_rueckseite and seite.inhalt_rueckseite != "<div><br></div>" %}
                    <div class="page-break"></div>
                    <div id='ausweis-rueckseite'></div>
                    <div id="ausweis-rueckseite-zusatz">&nbsp;</div>
                    <br><br><div id="content-{{seite.idx }}">{{ replace_mv_keywords(seite.inhalt_rueckseite, mitgliedschaft, sinv=sales_invoice) }}</div>
                    {% endif %}
               {% endif %}
        {% endif %}

        <style>
            #content-{{seite.idx }} {
                margin-left: 26mm;
                min-width: 161.5mm;
                max-width: 161.5mm;
                font-size: 9.5pt !important;
                line-height: 13.5pt !important;
                clear: both;
                overflow-y: hidden !important;
                {% if not seite.einzahlungsschein %}
                    {% if seite.adressblock or seite.referenzblock %}
                        {% if seite.fusszeile %}
                            min-height: 168.5mm;
                            max-height: 168.5mm;
                        {% else %}
                            min-height: 197mm;
                            max-height: 197mm;
                        {% endif %}
                    {% else %}
                        {% if seite.seitenzahlen %}
                            min-height: 211.5mm;
                            max-height: 211.5mm;
                        {% else %}
                            min-height: 240mm;
                            max-height: 240mm;
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if seite.adressblock or seite.referenzblock %}
                        {% if seite.fusszeile %}
                            min-height: 63.5mm;
                            max-height: 63.5mm;
                        {% else %}
                            min-height: 92mm;
                            max-height: 92mm;
                        {% endif %}
                    {% else %}
                        {% if seite.seitenzahlen %}
                            min-height: 133.5mm;
                            max-height: 133.5mm;
                        {% else %}
                            min-height: 135mm;
                            max-height: 135mm;
                        {% endif %}
                    {% endif %}
                {% endif %}
            }
        </style>
    {% endfor %}
    <!-- ---------------------------------------------------------------------------------------- -->
    <!-- ENDE: DRUCKFORMAT -->
    <!-- ---------------------------------------------------------------------------------------- -->
{% else %}
    <div>Das Dokument {{ doc.name }} ({{ doc.doctype }}) besitzt keine Druckvorlage!</div>
{% endif %}
