.ql-tooltip-arrow {
    visibility: hidden !important;
}

.ql-tooltip {
    left: 2.667px !important;
    top: -50px !important;
}

.reply.timeline-content-show {
    overflow: visible !important;
}

.file-browser-list.border.rounded {
    visibility: hidden !important;
}