#page-vbz-beratung {
    background-color: #e6ebef;
}

h1.vbz {
    font-weight: bold;
    padding-left: 15px;
}

#datenstand {
    font-weight: normal !important;
    font-size: 15px !important;
}

#reload_info {
    font-weight: normal !important;
    font-size: 15px !important;
}

#table_beratungs_uebersicht {
    margin-left: 10em;
    width: 50%;
}

#s:hover,
#s1:hover,
#s2:hover,
#s3:hover,
#s4:hover,
#s5:hover,
#s6:hover,
#s7:hover,
#s8:hover,
#s9:hover,
#s10:hover,
#r:hover,
#r1:hover,
#r2:hover,
#r3:hover,
#r4:hover,
#r5:hover,
#r6:hover,
#r7:hover,
#r8:hover,
#r9:hover,
#p1:hover,
#p2:hover,
#p3:hover,
#p4:hover,
#rechtsberaterinnen:hover,
#beratungskategorien:hover,
#statistik:hover {
    background-color: #219D84;
    cursor: pointer;
}
