<h1 class="vbz">Massenlauf</h1>
<div class="row">
    <table id="table_massenlauf_uebersicht">
        <tr>
            <th><b>Bezeichnung</b></th>
            <th><b>Anzahl</b></th>
            <th><b>Ansicht</b></th>
            <th><b>PDF</b></th>
        </tr>
        <tr>
            <td>Kündigung</td>
            {% if kuendigung.qty > 99 %}
                <td>99+</td>
            {% else %}
                <td>{{ kuendigung.qty }}</td>
            {% endif %}
            <td>{% if kuendigung.qty > 0 %}<i id="keundigung_qty" class="fa fa-eye"></i>{% endif %}</td>
            <td>{% if kuendigung.qty > 0 %}<i id="kuendigung_print" class="fa fa-file"></i>{% endif %}</td>
        </tr>
        <tr>
            <td>Zuzug (mit und ohne EZ)</td>
            {% if zuzug.qty > 99 %}
                <td>99+</td>
            {% else %}
                <td>{{ zuzug.qty }}</td>
            {% endif %}
            <td>{% if zuzug.qty > 0 %}<i id="zuzug_qty" class="fa fa-eye"></i>{% endif %}</td>
            <td>{% if zuzug.qty > 0 %}<i id="zuzug_print" class="fa fa-file"></i>{% endif %}</td>
        </tr>
        <tr>
            <td>Begrüssung (Bezahlte Mitgliedschaft:<br>Anmeldung und Interessent*in)</td>
            {% if begruessung_bezahlt.qty > 99 %}
                <td>99+</td>
            {% else %}
                <td>{{ begruessung_bezahlt.qty }}</td>
            {% endif %}
            <td>{% if begruessung_bezahlt.qty > 0 %}<i id="begruessung_qty" class="fa fa-eye"></i>{% endif %}</td>
            <td>{% if begruessung_bezahlt.qty > 0 %}<i id="begruessung_print" class="fa fa-file"></i>{% endif %}</td>
        </tr>
        <tr>
            <td>Begrüssung (Online-Beitritt)</td>
            {% if begruessung_online.qty > 99 %}
                <td>99+</td>
            {% else %}
                <td>{{ begruessung_online.qty }}</td>
            {% endif %}
            <td>{% if begruessung_online.qty > 0 %}<i id="begruessung_online_qty" class="fa fa-eye"></i>{% endif %}</td>
            <td>{% if begruessung_online.qty > 0 %}<i id="begruessung_online_print" class="fa fa-file"></i>{% endif %}</td>
        </tr>
        <tr>
            <td>Korrespondenz</td>
            {% if korrespondenz.qty > 99 %}
                <td>99+</td>
            {% else %}
                <td>{{ korrespondenz.qty }}</td>
            {% endif %}
            <td>{% if korrespondenz.qty > 0 %}<i id="korrespondenz_qty" class="fa fa-eye"></i>{% endif %}</td>
            <td>{% if korrespondenz.qty > 0 %}<i id="korrespondenz_print" class="fa fa-file"></i>{% endif %}</td>
        </tr>
        <tr>
            <td>Mitgliedschafts-Rechnungen</td>
            {% if rechnungen.qty > 99 %}
                <td>99+</td>
            {% else %}
                <td>{{ rechnungen.qty }}</td>
            {% endif %}
            <td>{% if rechnungen.qty > 0 %}<i id="rechnungen_qty" class="fa fa-eye"></i>{% endif %}</td>
            <td>{% if rechnungen.qty > 0 %}<i id="rechnungen_print" class="fa fa-file"></i>{% endif %}</td>
        </tr>
        <tr>
            <td>Mahnungen</td>
            {% if mahnungen.qty > 99 %}
                <td>99+</td>
            {% else %}
                <td>{{ mahnungen.qty }}</td>
            {% endif %}
            <td>{% if mahnungen.qty > 0 %}<i id="mahnungen_qty" class="fa fa-eye"></i>{% endif %}</td>
            <td>{% if mahnungen.qty > 0 %}<i id="mahnungen_print" class="fa fa-file"></i>{% endif %}</td>
        </tr>
        <tr>
            <td id="alle_massenlaeufe">Alle Massenläufe</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
</div>
