<h1 class="vbz"><span class="back-to-overview"><i class="fa fa-home pull-left"></i><i class="fa fa-chevron-left pull-left"></i></span> Adressrecherche und Adresspflege</h1>
<div class="row">
    <h2 class="place-holder-left">Adressrecherche M+W</h2>
    <p class="place-holder-left">Grundlage für die Adressrecherche und Adresspflege sind:<br>
    1. Retouren M+W (sehr zuverlässig)<br>
    2. Meldungen der Post über den Dienst Adresspflege (niedrige Zuverlässigkeit)<br><br>
    Die Zustellung des M+W wird nach zwei Retouren eingestellt bis die Adresse korrigiert ist<br>
    und ihr die Anzahl M+W wieder von 0 auf 1 setzt.</p>
    <h2 class="place-holder-left">Retouren M+W</h2>
    <p class="place-holder-left"><a href="https://wiki.mieterverband.ch/x/kwBqBQ" target="_blank">Anleitung</a></p>
    <table id="table_adressrecherche_uebersicht">
        <tr>
            <th><b>Verarbeitung von</b></th>
            <th><b>Anzahl</b></th>
        </tr>
        <tr id="zweimal_unzustellbar">
            <td>zweimal unzustellbare M+W (Zustellung gestoppt)</td>
            <td>
                {% if retouren.retouren_zweimal_qty > 99 %}
                    99+
                {% else %}
                    {{ retouren.retouren_zweimal_qty }}
                {% endif %}
            </td>
        </tr>
        <tr id="einmal_unzustellbar">
            <td>einmal unzustellbare M+W</td>
            <td>
                {% if retouren.retouren_einmal_qty > 99 %}
                    99+
                {% else %}
                    {{ retouren.retouren_einmal_qty }}
                {% endif %}
            </td>
        </tr>
        <tr id="offene_retouren">
            <td>Offene Retourne</td>
            <td>
                {% if retouren.offene_retouren_qty > 99 %}
                    99+
                {% else %}
                    {{ retouren.offene_retouren_qty }}
                {% endif %}
            </td>
        </tr>
        <tr id="retouren_in_bearbeitung">
            <td>Retournen in Bearbeitung</td>
            <td>
                {% if retouren.retouren_in_bearbeitung_qty > 99 %}
                    99+
                {% else %}
                    {{ retouren.retouren_in_bearbeitung_qty }}
                {% endif %}
            </td>
        </tr>
    </table>
    <h2 class="place-holder-left">Adresspflege Web-Service</h2>
    <p class="place-holder-left">noch nicht verfügbar</p>
    <!-- <table id="table_adresspflege_uebersicht">
        <tr>
            <th><b>Verarbeitung von</b></th>
            <th><b>Anzahl</b></th>
        </tr>
        <tr id="umzugsanzeige_objekt">
            <td>Umzugsanzeige für vers. Objekt</td>
            <td>12</td>
        </tr>
        <tr id="umzugsanzeige_solidarmitglied">
            <td>Umzugsanzeige für Solidarmitglied</td>
            <td>12</td>
        </tr>
        <tr id="verstorben_erloschen">
            <td>Verstorben / Erloschen</td>
            <td>0</td>
        </tr>
        <tr id="weggezogen_unbekannt">
            <td>Weggezogen, Adresse unbekannt</td>
            <td>25</td>
        </tr>
        <tr id="treffer_ausland">
            <td>Umzugstreffer Ausland</td>
            <td>2</td>
        </tr>
        <tr id="personen_nicht_bekannt">
            <td>Personen an Adresse nicht bekannt</td>
            <td>2</td>
        </tr>
    </table>
    -->
</div>
