<center><h1><span class="back-to-kuendigung"><i class="fa fa-home pull-left"></i><i class="fa fa-chevron-left pull-left"></i></span> Massen Verarbeitung gekündete Mitgliedschaften</h1></center>
{% if qty > 0 %}
<center><br><br><br><h2>Kündigungsübersicht</h2></center>
<table style="width: 100%;">
    <tr>
        <th>Mitgliedschaft</th>
        <th>Kündigung per</th>
    </tr>
    {% for kuendigung in alle_kuendigungen %}
    <tr>
        <td>{{ kuendigung.mv_mitgliedschaft }}</td>
        <td>{{ kuendigung.datum }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<center><br><br><br><h2>Es gibt keine Kündigungen die noch verarbeitet werden müssen.</h2></center>
{% endif %}
