<h1 class="vbz"><span class="back-to-overview"><i class="fa fa-home pull-left"></i><i class="fa fa-chevron-left pull-left"></i></span> Massenlauf</h1>
<div class="row">
    <table id="table_massenlauf_uebersicht">
        <tr>
            <th><b>Bezeichnung</b></th>
            <th><b>Anzahl</b></th>
            <th><b>Ansicht</b></th>
            <th><b>PDF</b></th>
        </tr>
        <tr>
            <td>Kündigung</td>
            <td>{{ kuendigung.qty }}</td>
            <td>{% if kuendigung.qty > 0 %}<i id="keundigung_qty" class="fa fa-eye"></i>{% endif %}</td>
            <td>{% if kuendigung.qty > 0 %}<i id="kuendigung_print" class="fa fa-file"></i>{% endif %}</td>
        </tr>
        <tr>
            <td>Zuzug (mit und ohne EZ)</td>
            <td>{{ zuzug.qty }}</td>
            <td>{% if zuzug.qty > 0 %}<i id="zuzug_qty" class="fa fa-eye"></i>{% endif %}</td>
            <td>{% if zuzug.qty > 0 %}<i id="zuzug_print" class="fa fa-file"></i>{% endif %}</td>
        </tr>
        <tr>
            <td>Begrüssung (Bezahlte Mitgliedschaft:<br>Anmeldung und Interessent*in)</td>
            <td>tbd</td>
            <td><i id="begruessung_qty" class="fa fa-eye"></i></td>
            <td><i id="begruessung_print" class="fa fa-file"></i></td>
        </tr>
        <tr>
            <td>Begrüssung (Online-Beitritt)</td>
            <td>{{ begruessung_online.qty }}</td>
            <td>{% if begruessung_online.qty > 0 %}<i id="begruessung_online_qty" class="fa fa-eye"></i>{% endif %}</td>
            <td>{% if begruessung_online.qty > 0 %}<i id="begruessung_online_print" class="fa fa-file"></i>{% endif %}</td>
        </tr>
        <tr>
            <td>Korrespondenz</td>
            <td>{{ korrespondenz.qty }}</td>
            <td>{% if korrespondenz.qty > 0 %}<i id="korrespondenz_qty" class="fa fa-eye"></i>{% endif %}</td>
            <td>{% if korrespondenz.qty > 0 %}<i id="korrespondenz_print" class="fa fa-file"></i>{% endif %}</td>
        </tr>
        <tr>
            <td>Mitgliedschafts-Rechnungen</td>
            <td>{{ rechnungen.qty }}</td>
            <td>{% if rechnungen.qty > 0 %}<i id="rechnungen_qty" class="fa fa-eye"></i>{% endif %}</td>
            <td>{% if rechnungen.qty > 0 %}<i id="rechnungen_print" class="fa fa-file"></i>{% endif %}</td>
        </tr>
</div>
