<div class="row">
    <h1 class="vbz">Shortcuts<span id="goto_klassisch" class="pull-right">zur klassischen Ansicht</span></h1>
</div>
<div class="row">
    <div class="control-card blue-card" id="suchmaske">
        <center>
            <i class="fa fa-search blue-icon"></i>
            <p>Suchmaske</p>
        </center>
    </div>
    <div class="control-card blue-card" id="mitglieder">
        <center>
            <i class="fa fa-users blue-icon"></i>
            <p>Mitglieder</p>
        </center>
    </div>
    <div class="control-card blue-card" id="todo">
        <center>
            <i class="fa fa-tasks blue-icon"></i>
            <p>ToDo</p>
            {% if todo.qty > 0 %}
                <div class="vbz-indikator"><span>{{ todo.qty }}</span></div>
            {% endif %}
        </center>
    </div>
    <div class="control-card blue-card" id="handbuch">
        <center>
            <i class="fa fa-book blue-icon"></i>
            <p>Handbuch</p>
        </center>
    </div>
</div>
<div class="row">
    <h1 class="vbz">Aktionen</h1>
</div>
<div class="row">
    <div class="control-card green-card" id="neuanlage">
        <center>
            <i class="fa fa-user-plus green-icon"></i>
            <p>Neuanlage</p>
        </center>
    </div>
    <div class="control-card green-card" id="validieren">
        <center>
            <i class="fa fa-check-square green-icon"></i>
            <p>Validieren</p>
            {% if validierung.qty > 0 %}
                <div class="vbz-indikator"><span>{{ validierung.qty }}</span></div>
            {% endif %}
        </center>
    </div>
    <div class="control-card green-card" id="arbeitsbacklog">
        <center>
            <i class="fa fa-list-ol green-icon"></i>
            <p>Arbeits Backlog</p>
            {% if arbeits_backlog.qty > 0 %}
                <div class="vbz-indikator"><span>{{ arbeits_backlog.qty }}</span></div>
            {% endif %}
        </center>
    </div>
    <div class="control-card green-card" id="massenlauf">
        <center>
            <i class="fa fa-print green-icon"></i>
            <p>Massenlauf</p>
            {% if massenlauf_total > 0 %}
                <div class="vbz-indikator"><span>{{ massenlauf_total }}</span></div>
            {% endif %}
        </center>
    </div>
    <div class="control-card green-card" id="adresspflege">
        <center>
            <i class="fa fa-address-book green-icon"></i>
            <p>Adresspflege</p>
        </center>
    </div>
    <div class="control-card green-card" id="serienbrief">
        <center>
            <i class="fa fa-envelope-open green-icon"></i>
            <p>Serienbrief</p>
        </center>
    </div>
    <div class="control-card green-card" id="camt">
        <center>
            <i class="fa fa-university green-icon"></i>
            <p>
                CAMT einlesen<br>
                Letzter import:<br>
                xx.xx.xxxx
            </p>
        </center>
    </div>
</div>
