<div class="row">
    <h1 class="vbz">Shortcuts<span id="goto_klassisch" class="pull-right"><i class="fa fa-chevron-right"></i> zur klassischen Ansicht</span><br><span id="datenstand" class="pull-right">Datenstand: {{ datenstand }}</span><br><span id="reload_info" class="pull-right">Zum Aktualisieren Webbrowser neuladen</span></h1>
</div>
<div class="row">
    <div class="control-card blue-card" id="suchmaske">
        <center>
            <i class="fa fa-search blue-icon"></i>
            <p>Suchmaske</p>
        </center>
    </div>
    <div class="control-card blue-card" id="mitglieder">
        <center>
            <i class="fa fa-users blue-icon"></i>
            <p>Mitglieder</p>
        </center>
    </div>
    <div class="control-card blue-card" id="todo">
        <center>
            <i class="fa fa-tasks blue-icon"></i>
            <p>ToDo</p>
            <!--{#{% if todo.qty > 0 %}
                {% if todo.qty > 99 %}
                    <div class="vbz-indikator"><span>99+</span></div>
                {% else %}
                    <div class="vbz-indikator"><span>{{ todo.qty }}</span></div>
                {% endif %}
            {% endif %}}#
            <div class="vbz-indikator-grey"><span>*</span></div>
            -->
        </center>
    </div>
    
    <!-- muss entfernt werden wenn beratung offiziell deployed -->
    <div class="control-card blue-card" id="termin"{% if frappe.boot.default_sektion == "MVBE" %} style="display: none;"{% endif %}>
        <center>
            <i class="fa fa-calendar-check-o blue-icon"></i>
            <p>Termine</p>
            <!--{#{% if termin.qty > 0 %}
                {% if termin.qty > 99 %}
                <div class="vbz-indikator"><span>99+</span></div>
                {% else %}
                    <div class="vbz-indikator"><span>{{ termin.qty }}</span></div>
                {% endif %}
            {% endif %}#}
            <div class="vbz-indikator-grey"><span>*</span></div>
            -->
        </center>
    </div>
    <!-- ende -->
    
    <!-- hidden bis das Feature offiziell Deployed wird -->
    <div class="control-card blue-card" id="beratung" {% if frappe.boot.default_sektion != "MVBE" %} style="display: none;"{% endif %}>
        <center>
            <i class="fa fa-calendar-check-o blue-icon"></i>
            <p>Beratung</p>
            <!--{#{% if termin.qty > 0 %}
                {% if termin.qty > 99 %}
                <div class="vbz-indikator"><span>99+</span></div>
                {% else %}
                    <div class="vbz-indikator"><span>{{ termin.qty }}</span></div>
                {% endif %}
            {% endif %}#}
            <div class="vbz-indikator-grey"><span>*</span></div>
            -->
        </center>
    </div>
    <!-- end hidden -->
    
    <div class="control-card blue-card" id="handbuch">
        <center>
            <i class="fa fa-book blue-icon"></i>
            <p>Handbuch</p>
        </center>
    </div>
    <div class="control-card blue-card" id="info_blog">
        <center>
            <i class="fa fa-bullhorn blue-icon"></i>
            <p>Was ist neu in Libracore?</p>
        </center>
    </div>
</div>
<div class="row">
    <h1 class="vbz">Aktionen</h1>
</div>
<div class="row">
    <div class="control-card green-card" id="neuanlage">
        <center>
            <i class="fa fa-user-plus green-icon"></i>
            <p>Neuanlage</p>
        </center>
    </div>
    <div class="control-card green-card" id="validieren">
        <center>
            <i class="fa fa-check-square green-icon"></i>
            <p>Validieren</p>
            <!--{#{% if validierung.qty > 0 %}
                {% if validierung.qty > 99 %}
                    <div class="vbz-indikator"><span>99+</span></div>
                {% else %}
                    <div class="vbz-indikator"><span>{{ validierung.qty }}</span></div>
                {% endif %}
            {% endif %}#}
            <div class="vbz-indikator-grey"><span>*</span></div>
            -->
        </center>
    </div>
    <div class="control-card green-card" id="arbeitsbacklog">
        <center>
            <i class="fa fa-list-ol green-icon"></i>
            <p>Arbeits Backlog</p>
            <!--{#{% if arbeits_backlog.qty > 0 %}
                {% if arbeits_backlog.qty > 99 %}
                    <div class="vbz-indikator"><span>99+</span></div>
                {% else %}
                    <div class="vbz-indikator"><span>{{ arbeits_backlog.qty }}</span></div>
                {% endif %}
            {% endif %}#}
            <div class="vbz-indikator-grey"><span>*</span></div>
            -->
        </center>
    </div>
    <div class="control-card green-card" id="massenlauf">
        <center>
            <i class="fa fa-print green-icon"></i>
            <p>Massenlauf</p>
            <!--{#{% if massenlauf_total > 0 %}
                {% if massenlauf_total > 99 %}
                    <div class="vbz-indikator"><span>99+</span></div>
                {% else %}
                    <div class="vbz-indikator"><span>{{ massenlauf_total }}</span></div>
                {% endif %}
            {% endif %}#}
            <div class="vbz-indikator-grey"><span>*</span></div>
            -->
        </center>

    </div>
    <div class="control-card green-card" id="adresspflege">
        <center>
            <i class="fa fa-address-book green-icon"></i>
            <p>Adresspflege</p>
        </center>
    </div>
    <div class="control-card green-card" id="serienbrief">
        <center>
            <i class="fa fa-envelope-open green-icon"></i>
            <p>Serienbrief</p>
        </center>
    </div>
</div>
<div class="row">
    <div class="control-card green-card" id="camt">
        <center>
            <i class="fa fa-university green-icon"></i>
            <p>
                CAMT einlesen<br>
                {{ last_camt_import }}
            </p>
        </center>
    </div>
    <div class="control-card green-card" id="mahnung">
        <center>
            <i class="fa fa-dollar green-icon"></i>
            <p>
                Mahnungen
            </p>
        </center>
    </div>
</div>
<div class="row">
    <h1 class="vbz">Informationen</h1>
    <p>Die Anzahl-Visualisierung (Zahlen in roten Kreisen) ist im Moment deaktiviert und wird mittels grauen Kreisen symbolisch angezeigt.</p>
</div>
