/*
Allgemein
*/
.control-card {
    float: left;
    height: 150px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    width: 150px;
    border-radius: 5px;
}

.green-card:hover {
    box-shadow: 10px 10px 5px #219D84;
    border: 1px solid #219D84;
}

.blue-card:hover {
    box-shadow: 10px 10px 5px #003A62;
    border: 1px solid #003A62;
}

.control-card .fa {
    font-size: 5em;
}

.back-to-overview {
    cursor: pointer;
    padding-right: 4em;
}

.place-holder-left {
    padding-left: 10em;
}

h2.place-holder-left {
    padding-left: 7em;
}

.vbz-indikator-grey {
height: 2em;
    border-radius: 2em;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    color: white;
}

.vbz-indikator {
    height: 2em;
    border-radius: 2em;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff5858;
    color: white;
}

.vbz-indikator span {
    font-size: 1em;
    font-weight: bold;
}

#page-vbz {
    background-color: #e6ebef;
}

.green-icon {
    color: #219D84;
}

.blue-icon {
    color: #003A62;
}

h1.vbz {
    font-weight: bold;
    padding-left: 15px;
}

#goto_klassisch {
    font-weight: normal !important;
    font-size: 15px !important;
    cursor: pointer;
}

#datenstand {
    font-weight: normal !important;
    font-size: 15px !important;
}

#reload_info {
    font-weight: normal !important;
    font-size: 15px !important;
}

/*
Validierung, Massenlauf, Adresspflege
*/
#table_validierungs_uebersicht,
#table_massenlauf_uebersicht,
#table_adressrecherche_uebersicht,
#table_adresspflege_uebersicht {
    margin-left: 10em;
    width: 50%;
}

/*
Validierung
*/
#table_validierungs_uebersicht > tbody > tr > td:nth-child(odd) {
    text-align: left;
}

#table_validierungs_uebersicht > tbody > tr > td:nth-child(even) {
    text-align: right;
}

#table_validierungs_uebersicht > tbody > tr > th:nth-child(even) {
    text-align: right;
}

#online_beitritte:hover,
#online_anmeldungen:hover,
#online_kuendigungen:hover,
#online_mutationen:hover,
#geschenk_mitgliedschaften:hover,
#zuzuege:hover,
#autom_adressaenderungen:hover {
    background-color: #219D84;
    cursor: pointer;
}

/*
Massenlauf
*/
#table_massenlauf_uebersicht > tbody > tr:nth-child(n+2):hover {
    background-color: #219D84;
}

#table_massenlauf_uebersicht > tbody > tr:nth-child(n+2) > td:nth-child(n+3) > i:hover {
    cursor: pointer;
}

/*
Adresspflege
*/
#einmal_unzustellbar:hover,
#zweimal_unzustellbar:hover,
#offene_retouren:hover,
#retouren_in_bearbeitung:hover,
#umzugsanzeige_objekt:hover,
#umzugsanzeige_solidarmitglied:hover,
#verstorben_erloschen:hover,
#weggezogen_unbekannt:hover,
#treffer_ausland:hover,
#personen_nicht_bekannt:hover {
    background-color: #219D84;
    cursor: pointer;
}
