{% if mahnung.druckvorlage %}
    <!-- ---------------------------------------------------------------------------------------- -->
    <!-- Allgemeine Daten -->
    <!-- ---------------------------------------------------------------------------------------- -->
    {% if test_druckvorlage %}
        {% set mahnung_druckvorlage = frappe.get_doc("Druckvorlage", test_druckvorlage) %}
    {% else %}
        {% set mahnung_druckvorlage = frappe.get_doc("Druckvorlage", mahnung.druckvorlage) %}
    {% endif %}
    {% set sektion = frappe.get_doc("Sektion", frappe.db.get_value("Druckvorlage", mahnung_druckvorlage.name, "sektion_id")) %}
    {% set print_language = mahnung_druckvorlage.language %}
    {% set adressblock = 'Fehlende Daten' %}
    {% set invoice = mahnung.sales_invoices[0].sales_invoice %}
    {% if mahnung.mv_kunde %}
        {% set mahnung_kunde_mitglied_referenz = mahnung.mv_kunde %}
        {% set adressblock = get_rg_adressblock(frappe.get_doc("Kunden", mahnung_kunde_mitglied_referenz)) %}
        {% set mitgliedschaft = False %}
    {% else %}
        {% set mahnung_kunde_mitglied_referenz = mahnung.mv_mitgliedschaft %}
        {% set adressblock = get_rg_adressblock(frappe.get_doc("Mitgliedschaft", mahnung_kunde_mitglied_referenz)) %}
        {% set mitgliedschaft = frappe.get_doc("Mitgliedschaft", mahnung_kunde_mitglied_referenz) %}
    {% endif %}
    <!-- ---------------------------------------------------------------------------------------- -->
    <!-- ENDE: Allgemeine Daten -->
    <!-- ---------------------------------------------------------------------------------------- -->
    
    {% if mahnung.sales_invoices|length > 0 %}
        <!-- ---------------------------------------------------------------------------------------- -->
        <!-- QRR Daten für Mitgliedschafts QRR -->
        <!-- ---------------------------------------------------------------------------------------- -->
        {% set sinv = frappe.get_doc("Sales Invoice", mahnung.sales_invoices[0].sales_invoice) %}
        <!-- payer details -->
        {% if sinv.customer_address %}
            {% set pay_addr = frappe.get_doc("Address", sinv.customer_address) %}
            {% if pay_addr %}
                <!-- get values -->
                {% if pay_addr.postfach %}
                    <!-- postfach -->
                    {% set pay_country = frappe.get_doc("Country", pay_addr.country) %}
                    {% set pay_country_code = pay_country.code | upper %}
                    {% if pay_addr.postfach_nummer %}
                        {% set postfach_nummer = pay_addr.postfach_nummer %}
                    {% else %}
                        {% set postfach_nummer = ' ' %}
                    {% endif %}
                    {% set pay_address_line_detail = {'name': sinv.customer, 'street': 'Postfach', 'number': postfach_nummer, 'pin': pay_addr.pincode, 'city': pay_addr.city, 'country': pay_country_code } %}
                {% else %}
                    <!-- street -->
                    {% set pay_address_trimed = pay_addr.address_line1 | trim %}
                    {% set pay_address_array = pay_address_trimed.split(" ") %}
                    {% set pay_address_line_item_count = pay_address_array | count %}
                    {% set pay_country = frappe.get_doc("Country", pay_addr.country) %}
                    {% set pay_country_code = pay_country.code | upper %}
                    {% set pay_address_line_detail = {'name': sinv.customer, 'street': '', 'number': '', 'pin': pay_addr.pincode, 'city': pay_addr.city, 'country': pay_country_code } %}
                    {% for i in range(0, (pay_address_line_item_count - 1)) %}
                        {% if pay_address_line_detail.update({'street': pay_address_line_detail.street + " " + pay_address_array[i] }) %}{% endif %}
                    {% endfor %}
                    {% if pay_address_line_detail.update({'number': pay_address_array[pay_address_line_item_count - 1]}) %}{% endif %}
                {% endif %}
                
                <!-- set values -->
                {% set payer_name = sinv.customer_name %}
                {% set payer_street = pay_address_line_detail.street %}
                {% set payer_number = pay_address_line_detail.number %}
                {% set payer_pincode = pay_address_line_detail.pin %}
                {% set payer_town = pay_address_line_detail.city %}
                {% set payer_country = pay_address_line_detail.country %}
                
                <!-- check street vs number -->
                {% if not payer_street %}
                    {% if payer_number %}
                        {% set payer_street = payer_number %}
                        {% set payer_number = ' ' %}
                    {% endif %}
                {% endif %}
            {% endif %}
            {% set bankkonto = frappe.get_doc("Account", sektion.account) %}
        {% else %}
            {% set payer_name = False %}
            {% set payer_street = False %}
            {% set payer_number = False %}
            {% set payer_pincode = False %}
            {% set payer_town = False %}
            {% set payer_country = False %}
        {% endif %}

        <!-- receiver details -->
        {% if sinv.company_address %}
            {% set cmp_addr = frappe.get_doc("Address", sinv.company_address) %}
            {% if cmp_addr %}
                <!-- get values -->
                {% set address_array = cmp_addr.address_line1.split(" ") %}
                {% set address_line_item_count = address_array | count %}
                {% set cmp_country = frappe.get_doc("Country", cmp_addr.country) %}
                {% set cmp_country_code = cmp_country.code | upper %}
                {% set cmp_address_line_detail = {'name': sinv.company, 'street': '', 'number': '', 'plz': cmp_addr.plz, 'city': cmp_addr.city, 'country': cmp_country_code } %}
                {% for i in range(0, (address_line_item_count - 1)) %}
                    {% if cmp_address_line_detail.update({'street': cmp_address_line_detail.street + " " + address_array[i] }) %}{% endif %}
                {% endfor %}
                {% if cmp_address_line_detail.update({'number': address_array[address_line_item_count - 1]}) %}{% endif %}
                
                <!-- set values -->
                {% set receiver_name = cmp_address_line_detail.name | replace("|", "I") %}
                {% set receiver_street = cmp_address_line_detail.street %}
                {% set receiver_number = cmp_address_line_detail.number %}
                {% set receiver_pincode = cmp_address_line_detail.plz %}
                {% set receiver_town = cmp_address_line_detail.city %}
                {% set receiver_country = cmp_address_line_detail.country %}
                
                {% if cmp_addr.postfach %}
                    {% if cmp_addr.postfach_nummer %}
                        {% set receiver_street = 'Postfach' %}
                        {% set receiver_number = cmp_addr.postfach_nummer %}
                    {% else %}
                        {% set receiver_street = 'Postfach' %}
                        {% set receiver_number = ' ' %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% else %}
            {% set receiver_name = False %}
            {% set receiver_street = False %}
            {% set receiver_number = False %}
            {% set receiver_pincode = False %}
            {% set receiver_town = False %}
            {% set receiver_country = False %}
        {% endif %}

        <!-- qrr dict -->
        {% if sinv.ist_mitgliedschaftsrechnung %}
            {% set mitglied_nr = mitgliedschaft.mitglied_nr %}
            {% set qrr_message = sinv.name + " // " + _("Mitgliederbeitrag", print_language) + " " + sinv.mitgliedschafts_jahr|string + " // " + mitglied_nr %}
        {% else %}
            {% set qrr_message = sinv.name %}
        {% endif %}
        {% if sinv.ohne_betrag %}
            {% set qrr_amount = False %}
        {% else %}
            {% set qrr_amount = "{:,.2f}".format(sinv.outstanding_amount).replace(",", "'") %}
        {% endif %}
        {% set qrr_data = {
            'top_position': '191mm',
            'iban': bankkonto.iban or '',
            'reference': sinv.esr_reference,
            'reference_type': 'QRR',
            'currency': sinv.currency,
            'amount': qrr_amount,
            'message': qrr_message,
            'additional_information': ' ',
            'receiver_name': receiver_name,
            'receiver_street': receiver_street,
            'receiver_number': receiver_number,
            'receiver_country': receiver_country,
            'receiver_pincode': receiver_pincode,
            'receiver_town': _(receiver_town, print_language or 'de'),
            'payer_name': payer_name,
            'payer_street': payer_street,
            'payer_number': payer_number,
            'payer_country': payer_country,
            'payer_pincode': payer_pincode,
            'payer_town': payer_town,
            'language': print_language or 'de'
        } %}
        <!-- ---------------------------------------------------------------------------------------- -->
        <!-- ENDE: QRR Daten für Mitgliedschafts QRR -->
        <!-- ---------------------------------------------------------------------------------------- -->
    {% endif %}
    
    <!-- ---------------------------------------------------------------------------------------- -->
    <!-- DRUCKFORMAT -->
    <!-- ---------------------------------------------------------------------------------------- -->
    {% for seite in mahnung_druckvorlage.seiten %}
        <!-- ggf. Page Break -->
        {% if seite.idx > 1 %}
            <div class="page-break"></div>
        {% endif %}
        
        <!-- Header -->
        <div id='kopfzeile'>
            {% if seite.kopfzeile %}
                <img src="/assets/mvd/img/mvs_nationales_logo.png" style="width: 58.1mm;">
            {% endif %}
        </div>
        
        <!-- Mitglieder Ausweis -->
        {% if seite.ausweis and mitgliedschaft %}
            <div id='ausweis'>
                <b>{{ _("Mitgliederausweis", print_language) }} {{ mitgliedschaft.bezahltes_mitgliedschaftsjahr }}</b>
                <div id='ausweis-content'>
                    {% if mitgliedschaft.kundentyp == 'Unternehmen' %}{{ mitgliedschaft.firma }}<br>{% endif %}
                    {{ mitgliedschaft.vorname_1 }} {{ mitgliedschaft.nachname_1 }}
                    {% if mitgliedschaft.hat_solidarmitglied %}<br>{{ mitgliedschaft.vorname_2 }} {{ mitgliedschaft.nachname_2 }}{% endif %}
                </div>
                <div id="ausweis-footer">
                        <b>{{ _("Sektion", print_language) }}:</b> {{ mitgliedschaft.sektion_id }}<span id="ausweis-footer-placeholder">...............</span><b>{{ _("Mitglied", print_language) }}:</b> {{ mitgliedschaft.mitglied_nr }}
                </div>
            </div>
        {% endif %}
        
        <!-- Adressblock -->
        {% if seite.adressblock %}
            <div id='adressblock'>
                {% if seite.pp %}
                    <!-- mit P.P. -->
                    <div id='adressblock_pp'><span id='pp_post'><b>P.P.</b></span> {{ seite.plz_und_ort or '' }} <span id='pp_span' class="pull-right">Post CH AG</span></div>
                {% endif %}
                {{ adressblock|replace("\n", "<br>") }}
            </div>
        {% endif %}
        
        <!-- Referenzblock -->
        {% if seite.referenzblock %}
            <div id='referenzblock'>
                {% if sektion %}
                    {{ _(sektion.default_ort, print_language) }}, {{ frappe.utils.get_datetime(mahnung.date).strftime('%d.%m.%Y') }}<br><br>
                    {{ sektion.referenzblock }}
                {% endif %}
            </div>
        {% endif %}
        
        <!-- Content -->
        {% if seite.inhalt %}
            <div id='content-{{seite.idx }}'>{{ replace_mv_keywords(seite.inhalt, mahnung_kunde_mitglied_referenz, mahnung=mahnung.name, sinv=invoice, idx=0) }}</div>
        {% endif %}
        
        <!-- Seitenzahlen (Fusszeile) -->
        <div id='seitenzahlen'><div id='seitenzahlen-content'>{% if seite.seitenzahlen %}Seite {{ seite.idx }} / {{ mahnung_druckvorlage.seiten|len }}{% else %}&nbsp;{% endif %}</div></div>
        
        <!-- Einzahlungsschein -->
        {% if seite.einzahlungsschein and mahnung.sales_invoices|length > 0 %}
            <!-- Mitgliedschaft EZ -->
            <div id='einzahlungsschein'>
                {{ frappe.render_template('templates/includes/mvd_qrr_invoice.html', {'qrr': qrr_data}) }}
            </div>
        {% endif %}
        
        <!-- Rückseite bei Mitglieder Ausweis -->
        {% if seite.ausweis %}
            {% if seite.ausweis_beidseitig == 'beidseitig' %}
                <div class="page-break"></div>
                <div id='ausweis-rueckseite'>{{ sektion.ausweis_rueckseite }}</div>
                <div id="ausweis-rueckseite-zusatz">Karte an der Perforation herauslösen</div>
                {% if seite.inhalt_rueckseite and seite.inhalt_rueckseite != '<div><br></div>' %}
                    <br><br><div id="content-{{seite.idx }}">{{ replace_mv_keywords(seite.inhalt_rueckseite, mitgliedschaft, sinv=sales_invoice) }}</div>
                {% endif %}
            {% else %}
                {% if seite.inhalt_rueckseite and seite.inhalt_rueckseite != "<div><br></div>" %}
                    <div class="page-break"></div>
                    <div id='ausweis-rueckseite'></div>
                    <div id="ausweis-rueckseite-zusatz">&nbsp;</div>
                    <br><br><div id="content-{{seite.idx }}">{{ replace_mv_keywords(seite.inhalt_rueckseite, mitgliedschaft, sinv=sales_invoice) }}</div>
                    {% endif %}
               {% endif %}
        {% endif %}


        <style>
            #content-{{seite.idx }} {
                margin-left: 26mm;
                min-width: 161.5mm;
                max-width: 161.5mm;
                font-size: 9.5pt !important;
                line-height: 13.5pt !important;
                clear: both;
                overflow-y: hidden !important;
                {% if not seite.einzahlungsschein %}
                    {% if seite.adressblock or seite.referenzblock %}
                        {% if seite.fusszeile %}
                            min-height: 168.5mm;
                            max-height: 168.5mm;
                        {% else %}
                            min-height: 197mm;
                            max-height: 197mm;
                        {% endif %}
                    {% else %}
                        {% if seite.seitenzahlen %}
                            min-height: 211.5mm;
                            max-height: 211.5mm;
                        {% else %}
                            min-height: 240mm;
                            max-height: 240mm;
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if seite.adressblock or seite.referenzblock %}
                        {% if seite.fusszeile %}
                            min-height: 63.5mm;
                            max-height: 63.5mm;
                        {% else %}
                            min-height: 92mm;
                            max-height: 92mm;
                        {% endif %}
                    {% else %}
                        {% if seite.seitenzahlen %}
                            min-height: 133.5mm;
                            max-height: 133.5mm;
                        {% else %}
                            min-height: 135mm;
                            max-height: 135mm;
                        {% endif %}
                    {% endif %}
                {% endif %}
            }
        </style>
    {% endfor %}
    <!-- ---------------------------------------------------------------------------------------- -->
    <!-- ENDE: DRUCKFORMAT -->
    <!-- ---------------------------------------------------------------------------------------- -->
{% else %}
    <div>Das Dokument {{ mahnung.name }} ({{ mahnung.doctype }}) besitzt keine Druckvorlage!</div>
{% endif %}
