<!-- ---------------------------------------------------------------------------------------- -->
<!-- Daten bei DocType Sales Invoice -->
<!-- ---------------------------------------------------------------------------------------- -->
{% if doc.doctype == 'Sales Invoice' %}
    {% set sales_invoice = doc.name %}
    {% if doc.mv_mitgliedschaft or doc.mv_kunde %}
        {% if doc.mv_mitgliedschaft %}
            {% set mitgliedschaft = frappe.get_doc("Mitgliedschaft", doc.mv_mitgliedschaft) %}
            {% if doc.druckvorlage %}
                {% set sektion = frappe.get_doc("Sektion", frappe.get_doc("Druckvorlage", doc.druckvorlage).sektion_id) %}
            {% else %}
                {% set sektion = frappe.get_doc("Sektion", mitgliedschaft.sektion_id) %}
            {% endif %}
        {% else %}
            {% set mitgliedschaft = frappe.get_doc("Kunden", doc.mv_kunde) %}
            {% set sektion = frappe.get_doc("Sektion", mitgliedschaft.sektion_id) %}
        {% endif %}
        {% set print_language = mitgliedschaft.language %}
        
        
        {% if mitgliedschaft.doctype == 'Mitgliedschaft' %}
            {% if mitgliedschaft.bezahltes_mitgliedschaftsjahr > 0 %}
                {% set bezahltes_mitgliedschaftsjahr = mitgliedschaft.bezahltes_mitgliedschaftsjahr %}
            {% else %}
                {% if mitgliedschaft.zahlung_mitgliedschaft > 0 %}
                    {% set bezahltes_mitgliedschaftsjahr = mitgliedschaft.zahlung_mitgliedschaft %}
                {% else %}
                    {% set bezahltes_mitgliedschaftsjahr = '' %}
                {% endif %}
            {% endif %}
            {% set mitglied_nr = mitgliedschaft.mitglied_nr %}
            {% set anrede = mitgliedschaft.rg_briefanrede %}
            {% if doc.manuelle_adresseingabe == 1 and doc.manuelle_adresse %}
                {% set adressblock = doc.manuelle_adresse %}
            {% else %}
                {% set adressblock = mitgliedschaft.rg_adressblock or get_rg_adressblock(mitgliedschaft) %}
            {% endif %}
        {% else %}
            {% set bezahltes_mitgliedschaftsjahr = '' %}
            {% set mitglied_nr = '' %}
            {% set anrede = '' %}
            {% if doc.manuelle_adresseingabe == 1 and doc.manuelle_adresse %}
                {% set adressblock = doc.manuelle_adresse %}
            {% else %}
                {% set adressblock = get_rg_adressblock(mitgliedschaft) %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}
<!-- ---------------------------------------------------------------------------------------- -->
<!-- ENDE: Daten bei DocType Sales Invoice -->
<!-- ---------------------------------------------------------------------------------------- -->

<!-- ---------------------------------------------------------------------------------------- -->
<!-- CSS -->
<!-- ---------------------------------------------------------------------------------------- -->
<style>
    @font-face {
        font-family: 'TWKEverett';
        font-style: normal;
        font-weight: normal;
        src: url('/assets/mvd/font/TWKEverett_Regular_web.woff');
    }
    
    @font-face {
        font-family: 'TWKEverettBold';
        font-style: normal;
        font-weight: bold;
        src: url('/assets/mvd/font/TWKEverett_Bold_web.woff');
    }

    @font-face {
        font-family: 'Frutiger';
        font-style: normal;
        font-weight: normal;
        src: url('/assets/erpnextswiss/fonts/frutiger/Frutiger.woff');
    }
    
    @font-face {
        font-family: 'Frutiger Bold';
        font-style: normal;
        font-weight: normal;
        src: url('/assets/erpnextswiss/fonts/frutiger/Frutiger_bold.woff');
    }
    
    .print-format {
        margin-right: 0mm;
        margin-left: 0mm;
        margin-top: 0mm;
        margin-bottom: 0mm;
        font-family: 'TWKEverett';
    }
    
    .print-format b {
        font-family: 'TWKEverettBold';
    }
    
    .print-format h1 {
        font-size: 9.5pt !important;
        line-height: 13.5pt !important;
        font-weight: bold !important;
    }
    
    .print-format h2 {
        font-size: 9.5pt !important;
        line-height: 13.5pt !important;
        font-weight: bold !important;
    }
    
    .print-format h3 {
        font-size: 9.5pt !important;
        line-height: 13.5pt !important;
        font-weight: bold !important;
    }

    #kopfzeile {
        padding-left: 24.5mm;
        padding-top: 17.5mm;
        {% if doc.sektion_id == 'MVZH' %}
            min-height: 50mm;
            max-height: 50mm;
        {% else %}
        min-height: 55mm;
        max-height: 55mm;
        {% endif %}
            min-width: 128mm;
            max-width: 128mm;
        float: left;
    }

    #ausweis {
        float: right;
        min-width: 82mm;
        max-width: 82mm;
        min-height: 55mm;
        max-height: 55mm;
        padding-top: 4mm;
        font-size: 7.5pt !important;
    }

    #ausweis-content {
        padding-top: 22mm;
        font-size: 9.5pt !important;
    }

    #ausweis-footer {
        padding-top: 4mm;
        font-size: 7.5pt !important;
    }

    #ausweis-footer-placeholder {
        color: white;
    }

    #ausweis-rueckseite {
        min-height: 58mm;
        padding-left: 7mm;
        padding-top: 7mm;
        font-size: 7.5pt !important;
        min-width: 82mm;
        max-width: 82mm;
        min-height: 55mm;
        max-height: 55mm;
    }

    #ausweis-rueckseite-zusatz {
        padding-left: 7mm;
        font-size: 6pt !important;
    }

    #adressblock {
        margin-left: 26mm;
        {% if doc.sektion_id == 'MVZH' %}
            min-height: 45mm;
            max-height: 45mm;
        {% else %}
            min-height: 40mm;
            max-height: 40mm;
        {% endif %}
        min-width: 102mm;
        max-width: 102mm;
        float: left;
        clear: both;
        font-size: 9.5pt !important;
        line-height: 13.5pt !important;
        padding-right: 20mm;
    }

    #adressblock_pp {
        border-bottom: 1px solid black;
        margin-bottom: 3mm;
        font-size: 8pt !important;
        font-family: 'Frutiger';
    }

    #pp_post {
        font-size: 12pt !important;
        font-family: 'Frutiger Bold';
    }

    #pp_span {
        padding-top: 2px;
    }

    #referenzblock {
        {% if doc.sektion_id == 'MVZH' %}
            min-height: 45mm;
            max-height: 45mm;
        {% else %}
            min-height: 40mm;
            max-height: 40mm;
        {% endif %}
        min-width: 70mm;
        max-width: 70mm;
        float: left;
        font-size: 7.5pt !important;
        line-height: 10.1pt !important;
    }

    #seitenzahlen {
        margin-left: 172.5mm;
        min-height: 2mm;
        /* HACK weil sonst alles verschoben! */
        border: 1px solid white;
        /* ENDE: HACK */
    }

    #seitenzahlen-content {
        font-size: 7.5pt !important;
    }

    #einzahlungsschein {
        min-height: 105mm;
        max-height: 105mm;
    }

    #content-1 {
        margin-left: 26mm;
        min-width: 161.5mm;
        max-width: 161.5mm;
        font-size: 9.5pt !important;
        line-height: 13.5pt !important;
        clear: both;
        overflow-y: hidden !important;
        min-height: 168.5mm;
        max-height: 168.5mm;
    }
    /* Weil die Artikeltabelle zu lang wird und der EZ darüber liegen würde, muss ein Dirty Hack angewendet werden */
    #content-1-no-limit {
        margin-left: 26mm;
        min-width: 161.5mm;
        max-width: 161.5mm;
        font-size: 9.5pt !important;
        line-height: 13.5pt !important;
        clear: both;
        overflow-y: hidden !important;
        min-height: 168.5mm;
        max-height: 168.5mm;
    }

    #dirty-hack-1 {
        min-height: 191mm;
        max-height: 191mm;
        margin-left: 26mm;
        min-width: 161.5mm;
        max-width: 161.5mm;
    }
</style>
<!-- ---------------------------------------------------------------------------------------- -->
<!-- Ende: CSS -->
<!-- ---------------------------------------------------------------------------------------- -->
 
<!-- ---------------------------------------------------------------------------------------- -->
<!-- DRUCKFORMAT -->
<!-- ---------------------------------------------------------------------------------------- -->
<!-- Header -->
<div id='kopfzeile'>
    {% if mitgliedschaft.mitgliedtyp_c == 'Geschäft' %}
        <img src="/assets/mvd/img/logo_mvbusiness.png" style="width: 58.1mm;">
    {% else %}
        <img src="/assets/mvd/img/logo_mv_zuerich.png" style="width: 58.1mm;">
    {% endif %}
</div>

<!-- Adressblock -->
<div id='adressblock'>
    {{ adressblock|replace("\n", "<br>") }}
</div>

<!-- Referenzblock -->
<div id='referenzblock'>
    {% if mitgliedschaft.mitgliedtyp_c == 'Geschäft' %}
        {{ _(sektion.default_ort, print_language) }}, {{ frappe.utils.get_datetime(doc.posting_date).strftime('%d.%m.%Y') }}<br><br>
        MV Business<br>
        Tellstrasse 31<br>
        Postfach 292<br>
        8021 Zürich<br><br>
        044 296 90 21<br>
        info@mv-business.ch<br>
        www.mv-business.ch
    {% else %}
        {{ _(sektion.default_ort, print_language) }}, {{ frappe.utils.get_datetime(doc.posting_date).strftime('%d.%m.%Y') }}<br><br>
        Mieterinnen- und Mieterverband Zürich<br>
        Tellstrasse 31<br>
        Postfach 292<br>
        8021 Zürich<br><br>
        044 296 90 20<br>
        info@mvzh.ch<br>
        www.mieterverband.ch/zuerich
    {% endif %}
</div>

<!-- Content -->
{% if doc.items|length > 7 %}
    <!-- Weil die Artikeltabelle zu lang wird und der EZ darüber liegen würde, muss ein Dirty Hack angewendet werden-->
    <div id='content-1-no-limit'>
        <h1>Quittung</h1><br><br>
        {{ replace_mv_keywords('%%QUITTUNGTABELLE%%', mitgliedschaft, sinv=sales_invoice) }}</div>
{% else %}
    <div id='content-1'>
        <h1>Quittung</h1><br><br>
        {{ replace_mv_keywords('%%QUITTUNGTABELLE%%', mitgliedschaft, sinv=sales_invoice) }}</div>
{% endif %}

<!-- Seitenzahlen (Fusszeile) -->
<div id='seitenzahlen'><div id='seitenzahlen-content'>&nbsp;</div></div>


<!-- ---------------------------------------------------------------------------------------- -->
<!-- ENDE: DRUCKFORMAT -->
<!-- ---------------------------------------------------------------------------------------- -->