<h1>{{ berater_in }}</h1>
{% for termin in termine %}
<div style="border: 1px dotted black; margin-bottom: 5px; padding: 5px; page-break-inside: avoid;">
    <table style="width: 100%;">
        <tr>
            <th style="width: 25%; text-align: left;">Wann</th>
            <th style="width: 25%; text-align: left;">Wo</th>
            <th style="width: 25%; text-align: left;">Wie</th>
            <th style="width: 25%; text-align: left;">Telefonnummer</th>
        </tr>
        <tr>
            <td>
                {{ termin.von }}<br>
                {{ termin.von_zeit }} -
                {{ termin.bis }}
            </td>
            <td>{{ termin.ort.replace("(" + termin.sektion_id + ")", "") }}</td>
            <td>{{ termin.art }}</td>
            <td>{{ termin.telefonnummer or "---" }}</td>
        </tr>
    </table>
    <table style="width: 100%; margin-top: 5px;">
        <tr>
            <th style="width: 50%; text-align: left;">Mitglied</th>
            <th style="width: 50%; text-align: left;">Details</th>
        </tr>
        <tr>
            <td>{{ termin.mitglied_nr }}<br>{{ termin.adressblock }}</td>
            <td>
                Eintritt: {% if termin.eintrittsdatum %}{{ termin.eintrittsdatum }}{% else %}---{% endif %}<br>
                Bez. Jahr: {{ termin.bezahltes_mitgliedschaftsjahr }}<br>
                Termin vereinbart am: {{ termin.creation }}
            </td>
        </tr>
    </table>
    <div>
        <p>
            Unterlagen > .....................................................................................................................................
        </p>
        <p>
            Beratung : &#9744; wurde durchgeführt &#9744; Person nicht erschienen
        </p>
        <p>
            Notiz: {{ termin.notiz or "---" }}
        </p>
    </div>
</div>
{% endfor %}