{% extends "templates/web.html" %}

{%- block title -%}{{_("Service Unavailable")}}{%- endblock -%}

{% block page_content %}
<style>
.hero-and-content {
	background-color: #f5f7fa;
}
header, footer {
	display: none;
}
html, body {
	background-color: #f5f7fa;
}
{% include "templates/styles/card_style.css" %}
</style>

<div class='page-card'>
	<div class='page-card-head'>
		<span class='indicator darkgrey'>{{_("Service Unavailable")}}</span>
	</div>
	<p>{{_("The server is currently unable to handle the request due to a temporary overloading or maintenance of the server. The implication is that this is a temporary condition which will be alleviated after some delay.")}}</p>
	<div><a href='/' class='btn btn-primary btn-sm'>{{ _("Home") }}</a></div>
</div>
<p class='text-muted text-center small' style='margin-top: -20px;'>{{ _("Error Code: {0}").format('503') }}</p>
<style>
.hero-and-content {
	background-color: #f5f7fa;
}
</style>
{% endblock %}
