<!-- ---------------------------------------------------------------------------------------- -->
<!-- DocType Sales Invoice -->
<!-- ---------------------------------------------------------------------------------------- -->
{% if doc.doctype == 'Sales Invoice' %}{{ frappe.render_template('templates/mvd/sales_invoice_drucktemplate.html', {'doc': doc}) }}{% endif %}
<!-- ---------------------------------------------------------------------------------------- -->
<!-- ENDE: DocType Sales Invoice -->
<!-- ---------------------------------------------------------------------------------------- -->

<!-- ---------------------------------------------------------------------------------------- -->
<!-- DocType Mahnung -->
<!-- ---------------------------------------------------------------------------------------- -->
{% if doc.doctype == 'Mahnung' %}{{ frappe.render_template('templates/mvd/mahnung_drucktemplate.html', {'mahnung': doc}) }}{% endif %}
<!-- ---------------------------------------------------------------------------------------- -->
<!-- ENDE: DocType Mahnung -->
<!-- ---------------------------------------------------------------------------------------- -->

<!-- ---------------------------------------------------------------------------------------- -->
<!-- DocType Fakultative Rechnung -->
<!-- ---------------------------------------------------------------------------------------- -->
{% if doc.doctype == 'Fakultative Rechnung' %}{{ frappe.render_template('templates/mvd/fakultative_rechnung_drucktemplate.html', {'doc': doc}) }}{% endif %}
<!-- ---------------------------------------------------------------------------------------- -->
<!-- ENDE: DocType Fakultative Rechnung -->
<!-- ---------------------------------------------------------------------------------------- -->
