<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>Mandate zur Fallübernahme</title>
  <script>
        window.frappe = {};
        frappe.ready_events = [];
        frappe.ready = function(fn) {
            frappe.ready_events.push(fn);
        }
    </script>
    <link type="text/css" rel="stylesheet" href="/assets/css/frappe-web-b4.css">
</head>

<body>
    <script type="text/javascript" src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/frappe-web.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap-4-web.min.js"></script>
    <main class="page">
        <section class="hero">
            <h1>Meine Mandate</h1>
            <p>
            Hier findest du eine Übersicht der dir zugeteilten Mandaten.
            </p>
        </section>
        <section class="layout">
            <aside class="list">
            {% for card_list in card_lists %}
                {{ card_list }}
            {% endfor %}
            </aside>

            <section class="detail platzhalter">
            <div class="detail-header">
                <div>
                <p class="detail-subtitle">
                    Bitte wählen sie ein Mandat zur Detailansicht.
                </p>
                </div>
            </div>
            </section>
            {% for detail_card in detail_cards %}
                {{ detail_card }}
            {% endfor %}
        </section>
    </main>
    <!-- csrf_token -->
</body>
</html>