#page-vbz-beratung {
    background-color: #e6ebef;
}

h1.vbz {
    font-weight: bold;
    padding-left: 15px;
}

#datenstand {
    font-weight: normal !important;
    font-size: 15px !important;
}

#reload_info {
    font-weight: normal !important;
    font-size: 15px !important;
}

#table_termin_uebersicht {
    width: 100%;
}

.termin-tr:hover {
    background-color: #219D84;
    cursor: pointer;
}

.business {
    background-color: #c9f7f9;
}

.business:hover {
    background-color: #91d4f4;
}

.termin-reserved {
    background-color: lightcoral;
}

.termin-reserved:hover {
    background-color: red;
}

.person-eingetroffen {
    background-color: #E5702B;
}
