
<div class="row">
    <h1 class="vbz">Meine Beratungs Termine<span id="datenstand_as" class="pull-right">Datenstand: {{ datenstand_as }}</span><br><span id="reload_info" class="pull-right">Zum Aktualisieren Webbrowser neuladen</span></h1>
</div>
<div class="row">
    <table id="table_termin_uebersicht">
        <tr>
            <th>Berater*inn</th>
            <th>Datum</th>
            <th>Von - Bis</th>
            <th>Art</th>
            <th>Telefonnummer</th>
            <th>Ort</th>
            <th>Dokumente</th>
            <th>Mitglied</th>
            <th>Beratungskategorien</th>
        </tr>
        {% for termin in meine_termine %}
            {% if "show_placeholder" in termin %}
                <tr class="termin-tr">
                    <td>Keine eigene Beratungstermine</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            {% else %}
                <tr class="termin-tr" data-beratung="{{ termin.beratung }}">
                    <td>{{ termin.beraterinn }}</td>
                    <td>{{ termin.wochentag }}., {{ termin.von_date }}</td>
                    <td>{{ termin.von_time }} - {{ termin.bis_time }}</td>
                    <td>{{ termin.art }}</td>
                    <td>{% if termin.art == "telefonisch" %}<a href="tel:{{ termin.telefonnummer }}">{{ termin.telefonnummer }}</a>{% else %}---{% endif %}</td>
                    <td>{{ termin.ort }}</td>
                    <td><center>{% if termin.hat_attachement == 1 %}<i class="fa fa-folder-open"></i>{% else %}&nbsp;{% endif %}</center></td>
                    <td>{{ termin.name_mitglied }}</td>
                    <td>{{ termin.beratungskategorie }} {{ termin.beratungskategorie_2 }} {{ termin.beratungskategorie_3 }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>

<div class="row">
    <h1 class="vbz">Alle Beratungs Termine</h1>
</div>
<div class="row">
    <table id="table_termin_uebersicht">
        <tr>
            <th>Berater*inn</th>
            <th>Datum</th>
            <th>Von - Bis</th>
            <th>Art</th>
            <th>Telefonnummer</th>
            <th>Ort</th>
            <th>Dokumente</th>
            <th>Mitglied</th>
            <th>Beratungskategorien</th>
        </tr>
        {% for termin in alle_termine %}
            <tr class="termin-tr" data-beratung="{{ termin.beratung }}">
                <td>{{ termin.beraterinn }}</td>
                <td>{{ termin.wochentag }}., {{ termin.von_date }}</td>
                <td>{{ termin.von_time }} - {{ termin.bis_time }}</td>
                <td>{{ termin.art }}</td>
                <td>{% if termin.art == "telefonisch" %}<a href="tel:{{ termin.telefonnummer }}">{{ termin.telefonnummer }}</a>{% else %}---{% endif %}</td>
                <td>{{ termin.ort }}</td>
                <td><center>{% if termin.hat_attachement == 1 %}<i class="fa fa-folder-open"></i>{% else %}&nbsp;{% endif %}</center></td>
                <td>{{ termin.name_mitglied }}</td>
                <td>{{ termin.beratungskategorie }} {{ termin.beratungskategorie_2 }} {{ termin.beratungskategorie_3 }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

<div class="row">
    <h1 class="vbz">Freie Beratungs Termine</h1>
</div>
<div class="row">
    <table id="table_termin_uebersicht">
        <tr>
            <th>Berater*inn</th>
            <th>Datum</th>
            <th>Von - Bis</th>
            <th>Art</th>
            <th>Telefonnummer</th>
            <th>Ort</th>
            <th>Dokumente</th>
            <th>Mitglied</th>
            <th>Beratungskategorien</th>
        </tr>
        {% for termin in freie_termine %}
            <tr class="termin-tr" data-beratung="{{ termin.beratung }}">
                <td>{{ termin.beraterinn }}</td>
                <td>{{ termin.wochentag }}., {{ termin.von_date }}</td>
                <td>{{ termin.von_time }} - {{ termin.bis_time }}</td>
                <td>{{ termin.art }}</td>
                <td>{% if termin.art == "telefonisch" %}<a href="tel:{{ termin.telefonnummer }}">{{ termin.telefonnummer }}</a>{% else %}---{% endif %}</td>
                <td>{{ termin.ort }}</td>
                <td><center>{% if termin.hat_attachement == 1 %}<i class="fa fa-folder-open"></i>{% else %}&nbsp;{% endif %}</center></td>
                <td>{{ termin.name_mitglied }}</td>
                <td>{{ termin.beratungskategorie }} {{ termin.beratungskategorie_2 }} {{ termin.beratungskategorie_3 }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
